<h2 mat-dialog-title>{{ data.title }} 
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button> 
</h2>
<mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="addDealValueForm" class="row g-3 align-items-center mt-1">
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Price From</mat-label>
                <input formControlName="price_from" matInput placeholder="Enter Price From" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Price To</mat-label>
                <input formControlName="price_till" matInput placeholder="Enter Brokerage To" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Select Price</mat-label>
                <mat-select formControlName="price_id" class="bhk-select">
                    <mat-option *ngFor="let allPrices of allPriceList" [value]="allPrices.price_id">
                        {{ allPrices.price }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label> Date</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input formControlName="valid_from" matStartDate placeholder="Start date">
                    <input formControlName="valid_till" matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>


            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Value</mat-label>
                <input formControlName="value" matInput placeholder="Enter value" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Unit</mat-label>
                <mat-select formControlName="value_unit_id" class="bhk-select">
                    <mat-option *ngFor="let values of allvalueList" [value]="values.value_unit_id">
                        {{ values.brokerage_value_unit }}
                    </mat-option>
                </mat-select>
            </mat-form-field>



            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Extra Bonus</mat-label>
                <input formControlName="extra_bonus" matInput placeholder="Enter Bonus" />
            </mat-form-field>

        </form>
    </div>

</mat-dialog-content>


<mat-dialog-actions align="end">

    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">
        Save
    </button>
</mat-dialog-actions>