<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item active">All WhatsApp Templates</li>
  </app-breadcrumb>

  <mat-card>
    <mat-card-content>
      <app-reusable-custom-table [loading]="loading" [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [actions]="projectActions" [showFooter]="true" (actionClick)="onProjectAction($event.action, $event.row)"
        [headerButtons]="headerButtons">
      </app-reusable-custom-table>
    </mat-card-content>
  </mat-card>
</app-template>