<h2 mat-dialog-title>Add New Document
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content>
    <form [formGroup]="form" class="row g-3">
        <div class="col-md-4">
            <app-autocomplete-reusable-component [options]="projects()" formControlName="project_id"
                displayKey="property_name" idKey="project_id" placeholder="Select Project" class="w-100">
            </app-autocomplete-reusable-component>
        </div>

        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Select Wing</mat-label>
                <mat-select formControlName="wing_id">
                    <mat-option *ngFor="let wing of wings()" [value]="wing.wing_id">
                        {{ wing.wing_name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('wing_id')?.hasError('required') && form.get('wing_id')?.touched">
                    Wing is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <app-autocomplete-reusable-component [options]="units()" formControlName="floor_unit_id"
                displayKey="full_name" [isMultiSelect]="true" idKey="floor_unit_id" placeholder="Select Unit"
                class="w-100">
            </app-autocomplete-reusable-component>
        </div>

        <div class="col-md-4">

            <app-autocomplete-reusable-component [options]="letterTypes()" formControlName="letter_type_id"
                displayKey="letter_type" idKey="letter_type_id" placeholder="Select Letter Type" class="w-100">
            </app-autocomplete-reusable-component>
        </div>

        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Letter Date</mat-label>
                <input matInput formControlName="letter_date" [matDatepicker]="picker" placeholder="Select Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('letter_date')?.hasError('required') && form.get('letter_date')?.touched">
                    Letter date is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Remark</mat-label>
                <input matInput formControlName="remark" placeholder="Enter Remark">
                <mat-error *ngIf="form.get('remark')?.hasError('required') && form.get('remark')?.touched">
                    Remark is required
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" class="me-2" [disabled]="form.invalid">
        <span *ngIf="loading()">Submitting...</span>
        <span *ngIf="!loading()">Submit</span>
    </button>
</mat-dialog-actions>