<app-template>
    <app-breadcrumb>
        <li class="breadcrumb-item ">After Sales</li>

        <li class="breadcrumb-item active">Document Generation</li>
    </app-breadcrumb>


    <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title> Advanced Filters </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="bookingForm" class="row w-100 g-3">
                <!-- Project Dropdown -->
                <div class="col-md-3">
                    <app-autocomplete-reusable-component [options]="projectsList()" formControlName="project_id"
                        displayKey="property_name" idKey="project_id" placeholder="Select Project">
                    </app-autocomplete-reusable-component>
                </div>

                <!-- Wing Dropdown -->

                <div class="col-md-3">
                    <app-autocomplete-reusable-component [options]="allWingslist()" formControlName="wing_id"
                        displayKey="wing_name" idKey="wing_id" placeholder="Select Wing">
                    </app-autocomplete-reusable-component>
                </div>

                <!-- Letter Type Dropdown -->


                <div class="col-md-3">
                    <app-autocomplete-reusable-component [options]="letterTypes()" formControlName="letter_type_id"
                        displayKey="letter_type" idKey="letter_type_id" placeholder="Select Letter Type">
                    </app-autocomplete-reusable-component>
                </div>

                <!-- Apply Filter Button -->
                <div class="col-md-auto">
                    <button mat-raised-button color="primary" class="d-flex align-items-center w-100"
                        [disabled]="!bookingForm.get('project_id')?.value" (click)="fetchAllBookings()">
                        <mat-icon class="me-1">filter_list</mat-icon> Apply Filter
                    </button>
                </div>
            </form>

        </mat-expansion-panel>
    </mat-accordion>
    <app-configurable-ag-grid-data [loading]="loading()" [columns]="agreementDetailsColumnsNames"
        [apiEndpoint]="'fetch_all_letters'" [headerButtons]="headerButtons" [apiMethod]="'POST'"
        [apiPayload]="agGridPayload()" [actions]="projectActions" [idProperty]="'letter_generation_id'"
        (actionClick)="onTokenAction($event.action, $event.row)">
    </app-configurable-ag-grid-data>



</app-template>