mat-radio-button {
  margin-bottom: 8px;
}

.badge {
  font-size: 1.2rem;
}

::ng-deep .right-snackbar {
  background-color: #4caf50; /* green */
  color: #fff;
}

::ng-deep .wrong-snackbar {
  background-color: #f44336; /* red */
  color: #fff;
}

