<h2 mat-dialog-title> {{title}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addHolidayForm" (ngSubmit)="onSubmit()">
    <div class="row p-3" >

      <mat-form-field appearance="outline"  >
        <mat-label>Occasion Type</mat-label>
        <mat-select formControlName="occasion_type_id">
          <mat-option *ngFor="let leave of leaveType" [value]="leave.occasion_type_id">
            {{leave.occasion_type}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addHolidayForm.controls['occasion_type_id'].hasError('required') ">
          Field is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="date_picker" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>
        <mat-datepicker #date_picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Occasion</mat-label>
        <textarea matInput formControlName="occasion"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Comments</mat-label>
        <input matInput formControlName="comment">
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button type="submit" [disabled]="(!addHolidayForm.valid || loadingState)"
    (click)="onSubmit()">Save</button>
</div>

