<app-template>
    <app-breadcrumb>

        <li class="breadcrumb-item active"> Token Type Configuration</li>
    </app-breadcrumb>
    <mat-card>


        <mat-card-content>

            <app-reusable-custom-table [loading]="loading" [dataSource]="dataSource"
                [displayedColumns]="displayedColumns" [headerButtons]="headerButtons" [actions]="projectActions"
                [showFooter]="true" (actionClick)="onProjectAction($event.action, $event.row)">

            </app-reusable-custom-table>
        </mat-card-content>
    </mat-card>
</app-template>