<h2 mat-dialog-title>
    Add New Parking
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <form [formGroup]="filterForm" class="row">
        <!-- Existing fields -->
        <app-autocomplete-reusable-component class="col-md-4" formControlName="project_id" [options]="projectsList"
            class="col-md-4" idKey="project_id" displayKey="property_name" placeholder="Select Project">
        </app-autocomplete-reusable-component>

        <app-autocomplete-reusable-component class="col-md-4" formControlName="wing_id" [options]="allWingslist"
            class="col-md-4" idKey="wing_id" displayKey="wing_name" [disabled]="!filterForm.get('project_id')?.value"
            placeholder="Select Wing">
        </app-autocomplete-reusable-component>

        <!-- New Parking Number field -->
        <mat-form-field class="col-md-4" appearance="outline">
            <mat-label>Parking Number</mat-label>
            <input matInput formControlName="parking_no" placeholder="Enter Parking Number">
            <mat-error *ngIf="filterForm.get('parking_no')?.hasError('required')">
                Required
            </mat-error>
        </mat-form-field>

        <!-- New Parking Type field -->
        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Parking Type</mat-label>
            <mat-select formControlName="parking_type">
                <mat-option *ngFor="let basedOn of allParkingTypeList" [value]="basedOn.parking_type">
                    {{ basedOn.parking_type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- New Parking Level field -->
        <mat-form-field class="col-md-4" appearance="outline">
            <mat-label>Parking Level</mat-label>
            <input matInput formControlName="parking_level" placeholder="Enter Parking Level">
            <mat-error *ngIf="filterForm.get('parking_level')?.hasError('required')">
                Required
            </mat-error>
        </mat-form-field>

        <!-- Parking Status -->
        <app-autocomplete-reusable-component formControlName="parking_status_id" [options]="parkingStatusList"
            class="col-md-4" idKey="parking_status_id" displayKey="parking_status" placeholder="Select Parking Status">
        </app-autocomplete-reusable-component>

        <!-- Action Buttons -->

    </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="saveParking()" [disabled]="filterForm.invalid">
        Save Parking
    </button>

</div>