<app-template>
    <app-breadcrumb>

        <li class="breadcrumb-item active">Meta Setup</li>

        <li class="breadcrumb-item active">All Digital Leads </li>
    </app-breadcrumb>

    <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title> Advanced Filters </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="bookingForm" class="row w-100 g-3">
                <!-- Project Dropdown -->
                <div class="col-md-3">
                    <app-autocomplete-reusable-component [options]="projectsList()" formControlName="project_id"
                        displayKey="property_name" idKey="project_id" placeholder="Select Project">
                    </app-autocomplete-reusable-component>
                </div>




                <!-- Apply Filter Button -->
                <div class="col-md-auto">
                    <button mat-raised-button color="primary" class="d-flex align-items-center w-100"
                        [disabled]="!bookingForm.get('project_id')?.value" (click)="fetchAllBookings()">
                        <mat-icon class="me-1">filter_list</mat-icon> Apply Filter
                    </button>
                </div>
            </form>

        </mat-expansion-panel>
    </mat-accordion>
    <app-configurable-ag-grid-data [loading]="loading()" [columns]="agreementDetailsColumnsNames"
        [apiEndpoint]="'fetch_lead_web_setup'" [headerButtons]="headerButtons" [apiMethod]="'POST'"
        [apiPayload]="agGridPayload()" [idProperty]="'floor_rise_id'">
    </app-configurable-ag-grid-data>



</app-template>