<ng-container >


    <mat-card [class]="category.display_grid" *ngFor="let category of allProjectLists">
        <mat-card-title>{{ category.category_name }}</mat-card-title>
        <mat-card-content>
            <div class="row">

          
              
                <ng-container *ngFor="let item of category.fields">
                  
                    
                  <!-- Checkboxes for field_type_id === 1 -->
                  <ng-container *ngIf="item.field_type_id === 1">
                    <div *ngFor="let option of item.options" [class]="option.display_grid">
                      <mat-checkbox [(ngModel)]="option.checked">
                        {{ option.option_name }}
                      </mat-checkbox>
                    </div>
                  </ng-container>
              
                  <!-- Input field for field_type_id === 2 -->
                  <ng-container *ngIf="item.field_type_id === 2">
                    <mat-form-field appearance="outline" [class]="item.display_grid">
                      <mat-label>{{ item.field_name }}</mat-label>
                      <input 
                        matInput 
                        [placeholder]="item.field_name" 
                        [(ngModel)]="item.inputValue" 
                      />
                    </mat-form-field>
                  </ng-container>
              
                  <!-- Dropdown for field_type_id === 3 -->
                  <ng-container *ngIf="item.field_type_id === 3">
                    <mat-form-field appearance="outline" [class]="item.display_grid">
                      <mat-label>{{ item.field_name }}</mat-label>
                      <mat-select [(ngModel)]="item.selectedOption">
                        <mat-option *ngFor="let data of item.options" [value]="data.option_id">
                          {{ data.option_name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </div>
              
        </mat-card-content>
    </mat-card>
</ng-container>
