<app-template>
  <app-breadcrumb>

    <li class="breadcrumb-item active">Add WorkFlow</li>
  </app-breadcrumb>

  <mat-card>



    <mat-card-content>

      <app-reusable-custom-table [loading]="loading" [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [actions]="channelPartnerActions " (actionClick)="getChannelPartneractions($event.action, $event.row)"
        [showFooter]="true" [headerButtons]="headerButtons">

      </app-reusable-custom-table>
    </mat-card-content>
  </mat-card>
</app-template>