<h6 mat-dialog-title>
    Add Digital Lead Web Setup
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h6>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="leadWebSetupForm" class="container row mt-1">
        <app-autocomplete-reusable-component [options]="projectsList()" formControlName="project_id" class="col-md-12"
            displayKey="property_name" idKey="project_id" placeholder="Select Project">
        </app-autocomplete-reusable-component>

        <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required rows="4"></textarea>
            <mat-error
                *ngIf="leadWebSetupForm.get('description')?.hasError('required') && leadWebSetupForm.get('description')?.touched">
                Description is required
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="onSubmit()" mat-raised-button color="primary" type="submit"
        [disabled]="leadWebSetupForm.invalid || isSubmitting()">
        <span *ngIf="isSubmitting()" class="spinner-container">
            <mat-spinner diameter="16" style="display: inline-block; margin-right: 8px;"></mat-spinner>
        </span>
        {{ isSubmitting() ? 'Saving...' : 'Save' }}
    </button>
</mat-dialog-actions>