<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item">
      <a routerLink="/" aria-label="Go to Home"><mat-icon style="font-size: large;">home</mat-icon></a>
    </li>
    <li class="breadcrumb-item active">Add SOP</li>
  </app-breadcrumb>
  <div class="container-fluid">
    <mat-card class="w-100">
      <mat-card-content>
        <div class="row">
          <!-- Left Column: col-md-7 -->
          <div class="col-md-7">
            <form [formGroup]="addSOPForm" class="row">
              <div class="d-flex justify-content-end mb-3">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" class="col-md-3 text-end">
                  Save SOP
                </button>
              </div>


              <!-- SOP Title -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput placeholder="Enter SOP title" />
                    <mat-error *ngIf="addSOPForm.get('title')?.invalid && addSOPForm.get('title')?.touched">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- SOP Category, Team, User Name -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>SOP Category</mat-label>
                    <mat-select formControlName="sop_category_id">
                      <mat-option *ngFor="let sopCategory of sopCategoryData" [value]="sopCategory.sop_category_id">
                        {{ sopCategory.sop_category }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="addSOPForm.get('sop_category_id')?.invalid && addSOPForm.get('sop_category_id')?.touched">
                      SOP Category is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Team</mat-label>
                    <mat-select formControlName="team_id">
                      <mat-option *ngFor="let team of teamData" [value]="team.team_id">
                        {{ team.team_name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addSOPForm.get('team_id')?.invalid && addSOPForm.get('team_id')?.touched">
                      Team is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>User Name</mat-label>
                    <mat-select formControlName="user_id">
                      <mat-option *ngFor="let employee of allEmployees" [value]="employee.user_id">
                        {{ employee.first_name }} {{ employee.last_name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addSOPForm.get('user_id')?.invalid && addSOPForm.get('user_id')?.touched">
                      User is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Angular Editor -->
              <div class="row mb-3">
                <div class="col-md-12">


                  <ng-container>
                    <quill-editor formControlName="sop_detail" [sanitize]="false"
                      placeholder="Enter your content here..." [styles]="{ height: '200px' }"></quill-editor>
                  </ng-container>

                </div>
              </div>

              <!-- File Upload -->
              <div class="row mb-4">
                <div class="col-md-12">
                  <label for="fileInput" class="form-label">Select SOP Image</label>
                  <div class="border p-3 rounded-3 shadow-sm">
                    <div class="d-flex align-items-center justify-content-between">
                      <p *ngIf="imageSize" class="me-auto text-muted">
                        {{ selectedFile?.name }} - {{ imageSize }}
                      </p>
                      <div class="d-flex align-items-center">
                        <!-- File Upload Button with Bootstrap styling -->
                        <div class="input-group">
                          <button mat-button>
                            <input #fileInput type="file" (change)="onChangeFile($event)"
                              formControlName="featured_image" class="file-input" />
                            Choose file
                          </button>
                        </div>
                        <div class="vr mx-3"></div>
                        <!-- Delete Button with border and color styling -->
                        <button mat-icon-button type="button" (click)="deleteFile()">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 text-center">
                  <img *ngIf="featuredImageUrl()" [src]="featuredImageUrl()" alt="SOP Image"
                    style="max-height: 300px; max-width: 100%;" />
                  <p *ngIf="!featuredImageUrl()">No image selected</p>
                </div>
              </div>

            </form>
          </div>
          <div class="col-md-5" *ngIf="SOPId">
            <div class="row">
              <div class="col-md-12">
                <!-- Container to align the button to the end -->
                <div class="d-flex justify-content-end mb-3">
                  <button mat-raised-button color="primary" (click)="addSOPStep()" class="col-md-3 text-end">
                    Add SOP Step
                  </button>
                </div>

                <!-- Display attractive message if no SOP steps are present -->
                <div *ngIf="allSOPStepsList?.length === 0" class="alert alert-info text-center mt-3">
                  No SOP steps available. Please add a step to get started.
                </div>

                <!-- Display each SOP step -->
                <div *ngFor="let step of allSOPStepsList.sop_steps; let i = index">
                  <mat-card class="sop-step-card mb-2">
                    <mat-card-content>
                      <span class="badge bg-success">Step {{step.sequence}}</span>
                      <p [innerHTML]="step.sop_step"></p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                      <button (click)="addSOPStep(step)" mat-icon-button>
                        <mat-icon>edit_note</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="deleteStep(step.sop_step_id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>


        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-template>