<h2 mat-dialog-title>
    {{ data.title }}
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content class="mat-typography">
    @if (store.loading()) {
    <div class="d-flex justify-content-center p-4">
        <mat-spinner diameter="40"></mat-spinner>
    </div>
    }

    <div *ngFor="let form of addBrokerageSlabsList; let i = index">
        <form [formGroup]="form" class="row mt-1">

            <app-autocomplete-reusable-component [options]="store.projects()" class="col-md-4"
                formControlName="project_id" displayKey="property_name" idKey="project_id" placeholder="Select Project"
                [required]="true">
            </app-autocomplete-reusable-component>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Select Wing</mat-label>
                <mat-select formControlName="wing_id">
                    <mat-option *ngFor="let wing of store.wings()" [value]="wing.wing_id">
                        {{ wing.wing_name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('wing_id')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Brokerage Type</mat-label>
                <mat-select formControlName="brokerage_type_id" required>
                    <mat-option [value]="1">Booking</mat-option>
                    <mat-option [value]="2">Revenue</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('brokerage_type_id')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>CP Category</mat-label>
                <mat-select formControlName="cp_type_id">
                    <mat-option *ngFor="let cp of store.cpTypes()" [value]="cp.cp_type_id">
                        {{ cp.cp_type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Select Preference</mat-label>
                <mat-select formControlName="project_config_id" multiple placeholder="Select configurations">
                    <mat-option *ngFor="let item of store.preferences()" [value]="item.project_configuration_id">
                        <span *ngIf="item.configuration">{{ item.configuration }} </span>
                        <span *ngIf="item.bhk"> {{ item.bhk }}</span>
                        <span *ngIf="item.carpet_area"> ({{ item.carpet_area }}{{ item.feet }})</span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('project_config_id')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Brokerage Date</mat-label>
                <mat-date-range-input [rangePicker]="picker" required>
                    <input formControlName="valid_from" matStartDate placeholder="Start date">
                    <input formControlName="valid_till" matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error
                    *ngIf="form.get('valid_from')?.hasError('required') || form.get('valid_till')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Brokerage From</mat-label>
                <input formControlName="brokerage_slab_from" matInput placeholder="Enter Brokerage From" required />
                <mat-error *ngIf="form.get('brokerage_slab_from')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Brokerage To</mat-label>
                <input formControlName="brokerage_slab_to" matInput placeholder="Enter Brokerage To" required />
                <mat-error *ngIf="form.get('brokerage_slab_to')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Select Brokerage Unit</mat-label>
                <mat-select formControlName="brokerage_unit_id" required>
                    <mat-option *ngFor="let unit of store.brokerageUnits()" [value]="unit.brokerage_unit_id">
                        {{ unit.brokerage_unit }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('brokerage_unit_id')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Select Unit</mat-label>
                <mat-select formControlName="value_unit_id" required>
                    <mat-option *ngFor="let unit of store.brokerageValueUnits()" [value]="unit.value_unit_id">
                        {{ unit.brokerage_value_unit }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('value_unit_id')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Enter Value</mat-label>
                <input formControlName="value" matInput placeholder="Enter Value" required />
                <mat-error *ngIf="form.get('value')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Enter Bonus</mat-label>
                <input formControlName="extra_bonus" matInput placeholder="Enter Bonus" />
                <mat-error *ngIf="form.get('extra_bonus')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Active Status</mat-label>
                <mat-select formControlName="active_status_id" required>
                    <mat-option [value]="1">Active</mat-option>
                    <mat-option [value]="0">Inactive</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('active_status_id')?.hasError('required')">Required</mat-error>
            </mat-form-field>

            <div class="col-md-4 d-flex align-items-center">
                <mat-checkbox formControlName="retro_type_id" class="me-3">Retro</mat-checkbox>
            </div>

            <div class="col-md-4 d-flex align-items-center">
                @if (!data?.rowData?.brokerage_slab_id) {
                <button mat-icon-button color="primary" (click)="addNewForm()" matTooltip="Add another slab">
                    <mat-icon>add_circle</mat-icon>
                </button>
                }
                @if (addBrokerageSlabsList.length > 1) {
                <button mat-icon-button color="warn" (click)="removeForm(i)" matTooltip="Remove slab">
                    <mat-icon>cancel</mat-icon>
                </button>
                }
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="isFormInvalid() || store.loading()" (click)="onSubmit()">
        Submit
    </button>
</mat-dialog-actions>