<h2 mat-dialog-title>Send WhatsApp Template
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content class="mat-typography">


    <form [formGroup]="whatAppTemplageForm" class="row mt-1 ">
        <div class="row">

            <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>select Module</mat-label>
                <mat-select formControlName="module_id">
                    <mat-option *ngFor="let module of allModuleList" [value]="module.module_id">
                        {{ module.module_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>


    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="whatAppTemplageForm.invalid" (click)="onSubmit()"
        type="submit">
        Submit
    </button> </mat-dialog-actions>