<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item">Site Visit Management</li>
    <li class="breadcrumb-item">Booking</li>
    <li class="breadcrumb-item active">All Booking Visitors List</li>
  </app-breadcrumb>


  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Advanced Filters </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-md-4">
          <app-autocomplete-reusable-component [options]="projectsList()" idKey="project_id" displayKey="property_name"
            placeholder="Select Project" (selectedIdChange)="onProjectChange($event)">
          </app-autocomplete-reusable-component>
        </div>
      </div>



    </mat-expansion-panel>
  </mat-accordion>


  <app-configurable-ag-grid-data [columns]="columnDefinitions" [apiEndpoint]="'fetch_all_token_visitors'"
    [apiMethod]="'POST'" [headerButtons]="headerButtons" [apiPayload]="agGridPayload()" [actions]="bookingActions"
    [idProperty]="'token_visitor_id'" (actionClick)="onBookingAction($event.action, $event.row)"
    (actionClick)="onBookingAction($event.action, $event.row)" [cacheBlockSize]="100" [autoLoad]="false">
  </app-configurable-ag-grid-data>
</app-template>