<h2 mat-dialog-title>{{ data.title }}
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content class="mat-typography">
    <div *ngFor="let form of addBrokerageSlabsList; let i = index">
        <form [formGroup]="form" class="row mt-1">
          
                <app-autocomplete-reusable-component [options]="projectsList" class="col-md-4" formControlName="project_id"
                  displayKey="property_name" idKey="project_id"  placeholder="Select Project">
                </app-autocomplete-reusable-component>
           
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>CP Category</mat-label>
                <mat-select formControlName="cp_type_id">
                    <mat-option *ngFor="let CPtypes of allcpList" [value]="CPtypes.cp_type_id">
                        {{ CPtypes.cp_type }}
                    </mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Select Preference</mat-label>
                <mat-select formControlName="project_config_id" multiple placeholder="Select configurations">
                    <mat-option *ngFor="let item of preferenceDropdown"
                        [value]="item.project_configuration_id">
                        <span *ngIf="item.configuration">{{ item.configuration }} </span>
                        <span *ngIf="item.bhk"> {{ item.bhk }}</span>
                        <span *ngIf="item.carpet_area"> ({{ item.carpet_area }}{{ item.feet
                            }})</span>
                    </mat-option>
                </mat-select>
              
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Brokerage Date</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input formControlName="valid_from" matStartDate placeholder="Start date">
                    <input formControlName="valid_till" matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Brokerage From</mat-label>
                <input formControlName="brokerage_slab_from" matInput placeholder="Enter Brokerage From" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Brokerage To</mat-label>
                <input formControlName="brokerage_slab_to" matInput placeholder="Enter Brokerage To" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Select Brokerage Unit</mat-label>
                <mat-select formControlName="brokerage_unit_id">
                    <mat-option *ngFor="let brokerageList of brokerageUnitList"
                        [value]="brokerageList.brokerage_unit_id">
                        {{ brokerageList.brokerage_unit }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Select Unit</mat-label>
                <mat-select formControlName="value_unit_id">
                    <mat-option *ngFor="let brokerageUnit of allBrokerageunitList"
                        [value]="brokerageUnit.value_unit_id">
                        {{ brokerageUnit.brokerage_value_unit }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Enter Value</mat-label>
                <input formControlName="value" matInput placeholder="Enter Value" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Enter Bonus</mat-label>
                <input formControlName="extra_bonus" matInput placeholder="Enter Bonus" />
            </mat-form-field>


            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Active Status</mat-label>
                <mat-select formControlName="active_status_id">
                    <mat-option [value]="1">Active</mat-option>
                    <mat-option [value]="0">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col-md-4 d-flex align-items-center">
                <mat-checkbox formControlName="retro_type_id" class="me-3">Retro</mat-checkbox>

            </div>

            <div class="col-md-4">
                <button mat-icon-button color="primary" *ngIf="!data?.rowData?.brokerage_slab_id" (click)="addNewForm()">
                    <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="removeForm(i)" *ngIf="addBrokerageSlabsList.length > 1">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </form>
    </div>

</mat-dialog-content>


<mat-dialog-actions align="end">

    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">
        Submit
    </button>
</mat-dialog-actions>