<h2 mat-dialog-title>{{ isEditMode ? 'Edit Module' : 'Add Module' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Module Name</mat-label>
        <input matInput formControlName="module_name" />
      </mat-form-field>


      <div class="col-md-6" *ngIf="!isEditMode">
        <app-autocomplete-reusable-component [options]="modulesList" formControlName="parent_module"
          displayKey="module_name" idKey="module_id" [isMultiSelect]="false" placeholder="Select Parent Module">
        </app-autocomplete-reusable-component>
      </div>

      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Status</mat-label>
        <mat-select formControlName="active_status_id">
          <mat-option [value]="1">Active</mat-option>
          <mat-option [value]="2">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid || loadingState" (click)="onSubmit()">
    {{ isEditMode ? 'Update' : 'Add' }}
  </button>
</mat-dialog-actions>