<h2 mat-dialog-title>  Add new Expense 
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="addExpenses" class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Project</mat-label>
                <mat-select formControlName="project_id">
                    <mat-option *ngFor="let project of projectsList" [value]="project.project_id">
                        {{ project.property_name }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="addExpenses.get('project_id')?.invalid && addExpenses.get('project_id')?.touched">
                    Project is required
                </mat-error>
            </mat-form-field>
        </div>

         
        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Source</mat-label>
            <mat-select formControlName="source_id">
              <mat-option *ngFor="let source of sourcesList" [value]="source.source_id">
                {{ source.source }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field appearance="outline" class="col-md-4"   *ngIf="!(this.addExpenses.controls['source_id'].value == '3')">
            <mat-label>Select Source Detail</mat-label>
            <mat-select formControlName="source_detail_id">
              <mat-option *ngFor="let sourceDetails of sourcerDetailedList" [value]="sourceDetails.source_detail_id">
                {{ sourceDetails.source_detail }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
       
          <app-autocomplete-reusable-component [options]="allChannelPartnerList" class="col-md-4"
          *ngIf="(this.addExpenses.controls['source_id'].value == '3')"
          formControlName="channel_partner_id" displayKey="full_name" idKey="channel_partner_id"
          placeholder="Select Partner Firm" (inputChanged)="onPartnerSearch($event)">
      </app-autocomplete-reusable-component>
    


<mat-form-field appearance="outline" class="col-md-4">
<mat-label>Active Status</mat-label>
<mat-select formControlName="active_status_id">
<mat-option value="1">Active</mat-option>
<mat-option value="0">Inactive</mat-option>
</mat-select>
</mat-form-field>

        <!-- Amount -->
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" type="number" />
                <mat-error *ngIf="addExpenses.get('amount')?.invalid && addExpenses.get('amount')?.touched">
                    Amount is required and must be greater than 0
                </mat-error>
            </mat-form-field>
        </div>

        <!-- GST Amount -->
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>GST Amount</mat-label>
                <input matInput formControlName="gst_amount" type="number" />
            </mat-form-field>
        </div>

        <!-- Total Amount -->
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Total Amount</mat-label>
                <input matInput formControlName="total_amount" type="number" />
                <mat-error
                    *ngIf="addExpenses.get('total_amount')?.invalid && addExpenses.get('total_amount')?.touched">
                    Total amount is required
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Vendor ID -->
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Vendor ID</mat-label>
                <mat-select formControlName="vendor_id">
                    <mat-option *ngFor="let vendor of vendorsList" [value]="vendor.vendor_id">
                        {{ vendor.vendor_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Remark -->
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Remark</mat-label>
                <textarea matInput formControlName="remark"></textarea>
            </mat-form-field>
        </div>

        <!-- Expense Date -->
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Expense Date</mat-label>
                <input matInput formControlName="expense_date" [matDatepicker]="picker"
                    placeholder="Select Date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-8">
            <label for="fileInput" class="form-label">Upload Record Expenses</label>
            <div class="border p-3 rounded-3 shadow-sm">
                <div class="d-flex align-items-center justify-content-between">
                    <p *ngIf="imageSize" class="me-auto text-muted">
                        {{ selectedFile?.name }} - {{ imageSize }}
                    </p>
                    <div class="d-flex align-items-center">
                        <!-- File Upload Button with Bootstrap styling -->
                        <div class="input-group">
                            <button mat-button>
                                <input #fileInput type="file" (change)="onChangeFile($event)"
                                    formControlName="expense_attachment" class="file-input" />
                                Choose file
                            </button>
                        </div>
                        <div class="vr mx-3"></div>
                        <!-- Delete Button with border and color styling -->
                        <button mat-icon-button type="button" (click)="deleteFile()">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <!-- Display selected image preview if it's an image file -->
                <div *ngIf="imagePreview">
                    <div class="mt-3">
                        <img [src]="imagePreview" alt="Image Preview" class="img-fluid"
                            style="max-width: 100%; max-height: 200px; object-fit: contain;" />
                    </div>
                </div>

            </div>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" >
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>