<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item active">All Expenses Summary</li>
  </app-breadcrumb>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="filterExpenseSummaryForm" class="row">
        <!-- Project Filter -->
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Project</mat-label>
            <mat-select formControlName="project_id" multiple>
              <mat-option *ngFor="let project of projectsList" [value]="project.project_id">
                {{ project.property_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Source Filter -->
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Source</mat-label>
            <mat-select formControlName="source_id" multiple>
              <mat-option *ngFor="let source of sourcesList" [value]="source.source_id">
                {{ source.source }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Source Detail Filter -->
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Source Detail</mat-label>
            <mat-select formControlName="source_detail_id" multiple>
              <mat-option *ngFor="let sourceDetails of sourceDetailedList" [value]="sourceDetails.source_detail_id">
                {{ sourceDetails.source_detail }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- City Filter -->
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>City</mat-label>
            <mat-select formControlName="city_id" multiple>
              <mat-option *ngFor="let city of allCities" [value]="city.city_id">
                {{ city.city_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Expense Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input formControlName="start_date" matStartDate placeholder="Start date">
              <input formControlName="end_date" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <!-- Group By Filter -->
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Group By</mat-label>
            <mat-select formControlName="expense_group_id">
              <mat-option *ngFor="let group of allGroupsList" [value]="group.expense_group_id">
                {{ group.expence_group }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Time Level Filter -->
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Time Level</mat-label>
            <mat-select formControlName="time_interval_id">
              <mat-option *ngFor="let time of allTimeIntervalList" [value]="time.time_interval_id">
                {{ time.time_interval }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Report</mat-label>
            <mat-select formControlName="report_group_id" multiple>
              <mat-option *ngFor="let reportList of allReportGroupList" [value]="reportList.report_group_id">
                {{ reportList.report_group }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Filter Button -->
        <div class="col-md-6">
          <button mat-raised-button color="primary" (click)="applyFilters()" class="btn-sm me-2">
            <mat-icon class="me-1">filter_alt</mat-icon> Filter
          </button>
          <button mat-raised-button color="primary" class="btn-sm me-2" (click)="exportToExcel()">
            <mat-icon class="me-1">system_update_alt</mat-icon> Export
          </button>

        </div>
      </form>

      <div class="table-container mat-elevation-z8 rounded mt-3 p-3">
        <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
          <ng-container *ngFor="let col of columns" [matColumnDef]="col.fieldName">
            <th mat-header-cell *matHeaderCellDef class="header-cell">
              {{ col.title }}
            </th>
            <td mat-cell *matCellDef="let element" class="table-cell">
              <div *ngIf="isArray(element[col.fieldName]); else singleValue">
                <ng-container *ngFor="let item of element[col.fieldName]">
                  <div class="array-item">{{ item }}</div>
                </ng-container>
              </div>
              <ng-template #singleValue>
                <div class="single-value">{{ element[col.fieldName] }}</div>
              </ng-template>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-hover"></tr>

        </table>
      </div>

    </mat-card-content>
  </mat-card>
</app-template>