<app-template>
    <app-breadcrumb>
        <li class="breadcrumb-item">Target & Achievement</li>

        <li class="breadcrumb-item active">All Sales Target</li>
    </app-breadcrumb>
    <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title> Advanced Filters </mat-panel-title>

            </mat-expansion-panel-header>
            <form [formGroup]="leadForm">

                <div class="row">
                    <div class="col-md-3">
                        <app-autocomplete-reusable-component formControlName="project_id" [options]="projectsList()"
                            displayKey="property_name" idKey="project_id" placeholder="Select Project">
                        </app-autocomplete-reusable-component>
                    </div>

                    <app-autocomplete-reusable-component class="col-md-3" [options]="allRoleList()"
                        formControlName="role_id" displayKey="role" idKey="role_id" placeholder="Select Role">
                    </app-autocomplete-reusable-component>


                    <div class="col-md-3">
                        <app-autocomplete-reusable-component [options]="allUSerList" formControlName="user_id"
                            displayKey="full_name" idKey="user_id" [isMultiSelect]="true" placeholder="Select User">
                        </app-autocomplete-reusable-component>
                    </div>


                    <!-- Apply Filter Button -->
                    <div class="col-md-auto">
                        <button mat-raised-button color="primary" class="d-flex align-items-center w-100"
                            (click)="fetchAllPresalesTargets()" [disabled]="!leadForm.valid">
                            Apply Filter
                        </button>
                    </div>
                </div>

            </form>

        </mat-expansion-panel>

    </mat-accordion>

    <app-configurable-ag-grid-data [loading]="loading()" [columns]="displayedColumns"
        [apiEndpoint]="'fetch_pre_sale_targets'" [apiMethod]="'POST'" [apiPayload]="getAgGridPayload()"
        [actions]="projectActions" [headerButtons]="headerButtons" [idProperty]="'pre_sale_target_id'"
        (actionClick)="onProjectAction($event.action, $event.row)">
    </app-configurable-ag-grid-data>

</app-template>