<h4 mat-dialog-title>
    {{ isEdit ? 'Edit' : 'Add' }} Email Template
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h4>

<mat-dialog-content>
    <form [formGroup]="emailForm" class="p-3">
        <div class="row">

            <!-- Module Selection -->
            <div class="col-md-6 mb-3">

                <app-autocomplete-reusable-component formControlName="module_id" [options]="modules()" idKey="module_id"
                    displayKey="module_name" placeholder="Search Module...">
                </app-autocomplete-reusable-component>

                <mat-error *ngIf="emailForm.get('module_id')?.touched && emailForm.get('module_id')?.invalid">
                    Module is required
                </mat-error>
            </div>

            <!-- Project Selection -->
            <div class="col-md-6 mb-3">


                <app-autocomplete-reusable-component formControlName="project_id" [options]="(projects | async) || []"
                    idKey="project_id" displayKey="property_name" placeholder="Search Project...">
                </app-autocomplete-reusable-component>

                <mat-error *ngIf="emailForm.get('project_id')?.touched && emailForm.get('project_id')?.invalid">
                    Project is required
                </mat-error>
            </div>

            <!-- Subject -->
            <div class="col-12 mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject" placeholder="Enter Email Subject">
                    <mat-error *ngIf="emailForm.get('subject')?.touched && emailForm.get('subject')?.invalid">
                        Subject is required
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Body -->
            <div class="col-12 mb-3">


                <quill-editor formControlName="body" [sanitize]="false" placeholder="Enter email body here..."
                    [styles]="{ height: '500px' }">
                </quill-editor>

                <mat-error *ngIf="emailForm.get('body')?.touched && emailForm.get('body')?.invalid">
                    Body is required
                </mat-error>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions p-3">
    <button (click)="onSave()" mat-raised-button color="primary" type="button"
        [disabled]="isLoading || emailForm.invalid">

        <mat-spinner diameter="20" *ngIf="isLoading" class="d-inline-block me-2">
        </mat-spinner>

        {{ isEdit ? 'Update' : 'Save' }} Template
    </button>
</mat-dialog-actions>