<mat-card class="mt-3 card-shadow-sm">
  <div [ngClass]="applicantSkills.length? 'no-border' : 'warning-border'"
  class="card rounded-2 card-shadow-sm  p-4" id="skills">

  <div class="hstack align-items-center mb-3">
    <p class="second-heading-ptag m-0">Skills</p>
    <button mat-button class="ms-auto" (click)="openAddSkillDialog()" color="primary">Add
      Skill</button>
  </div>

  <div *ngFor="let item of applicantSkills" class="mb-3">
    <div class="hstack gap-3 ">
      <p class="mb-1 fw-medium  paragraph-text">{{ item.skill_string }}
      </p>
      <mat-icon class="icon-button" (click)="openUpdateSkillDialog(item)">edit</mat-icon>
    </div>
    <p class="mb-1 fw-light paragraph-text">{{ item.self_rating_string }}
    </p>
  </div>

  <app-no-data-error-message [dataArray]="applicantSkills"
    [noDataErrorMessage]="'Please add your skills to provide recruiters with greater insight into your expertise, helping them understand your specialization more effectively.'"></app-no-data-error-message>
</div>

</mat-card>
