<h2 mat-dialog-title class="dialog-title">
Update  Floor Plan
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
      <mat-icon>close</mat-icon>
  </button>
  </h2>
  
  <div mat-dialog-content>
    <form [formGroup]="excelUploadForm" id="excelUploadForm" (ngSubmit)="submitFile()" class="upload-form">
  
      <!-- Project Autocomplete -->
      <app-autocomplete-reusable-component
       
        [options]="projectsList"
        formControlName="project_id"
        displayKey="property_name"
        idKey="project_id"
        placeholder="Select Project">
      </app-autocomplete-reusable-component>
  
      <!-- File Upload Area -->
      <div class="file-upload-container">
        <input type="file" id="fileInput" (change)="selectFile($event)" hidden />
        <label for="fileInput" class="file-label">
          <mat-icon class="upload-icon">cloud_upload</mat-icon>
          <span>Choose a file</span>
        </label>
        <span class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>
      </div>

  
    </form>
  </div>
  
  <div mat-dialog-actions align="end">
    <button mat-flat-button color="primary" form="excelUploadForm" type="submit">Upload</button>
  </div>
  