<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item">Target & Achievement</li>
    <li class="breadcrumb-item">Pre Sales</li>

    <li class="breadcrumb-item active">Incentive & Bonus Master</li>
  </app-breadcrumb>

  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>

        <mat-panel-title> Advanced Filters </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="enquiryFilterForm" class="w-100 g-3">
        <!-- Row for Dropdowns and Date Filter -->
        <div class="row">
          <div class="col-md-2">
            <app-autocomplete-reusable-component formControlName="project_id" [options]="projectsList()"
              displayKey="property_name" idKey="project_id" placeholder="Select Project">
            </app-autocomplete-reusable-component>
          </div>

          <mat-form-field appearance="outline" class="col-md-2">
            <mat-label>Select Wing</mat-label>
            <mat-select formControlName="wing_id">
              <mat-option *ngFor="let allwings of allWingslist(); trackBy: trackByWingId" [value]="allwings.wing_id">
                {{ allwings.wing_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-autocomplete-reusable-component class="col-md-2" [options]="allSalesExecutive()"
            formControlName="sales_executive_id" displayKey="user_name" idKey="user_id"
            placeholder="Select Sales Executive">
          </app-autocomplete-reusable-component>

          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Date</mat-label>
              <mat-date-range-input [rangePicker]="followUpDatePicker">
                <input formControlName="target_from" matStartDate placeholder="Start date">
                <input formControlName="target_to" matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="followUpDatePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #followUpDatePicker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="primary" (click)="fetchAllDiscardLeadReports()"
              class="d-flex align-items-center w-100" [disabled]="!isFilterValid()">
              Apply
            </button>
          </div>
        </div>
      </form>


    </mat-expansion-panel>
  </mat-accordion>


  <app-configurable-ag-grid-data [columns]="columnDefinitions" [apiEndpoint]="'fetch_booking_incentive_report'"
    [apiMethod]="'POST'" [apiPayload]="agGridPayload()" [actions]="bookingActions" [idProperty]="'project_lead_id'"
    [cacheBlockSize]="100" [autoLoad]="false">
  </app-configurable-ag-grid-data>
</app-template>