<app-template>
    <app-breadcrumb>
        <li class="breadcrumb-item ">After Sales</li>
        <li class="breadcrumb-item ">Payment collection</li>

        <li class="breadcrumb-item active">Agreement Inprogress</li>
    </app-breadcrumb>


    <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title> Advanced Filters </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="bookingForm" class="w-100 g-3">
                <div class="row">
                    <!-- Project Dropdown -->
                    <div class="col-md-2">
                        <app-autocomplete-reusable-component [options]="projectsList()" formControlName="project_id"
                            displayKey="property_name" idKey="project_id" placeholder="Select Project">
                        </app-autocomplete-reusable-component>
                    </div>

                    <!-- Wing Dropdown -->
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Select Wing</mat-label>
                        <mat-select formControlName="wing_id">
                            <mat-option *ngFor="let allwings of allWingslist()" [value]="allwings.wing_id">
                                {{ allwings.wing_name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Floor</mat-label>
                        <mat-select formControlName="floor_id">
                            <mat-option *ngFor="let floor of floorUnitDropdown()" [value]="floor.floor_id">
                                {{ floor.floor_name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <!-- Apply Filter Button -->
                    <div class="col-md-auto">
                        <button mat-raised-button color="primary" class="d-flex align-items-center w-100"
                            [disabled]="bookingForm.get('project_id')?.invalid"
                            (click)="fetchAllPendingAgreementList()">
                            <mat-icon class="me-1">filter_list</mat-icon> Apply Filter
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Booking Agreements">
            <app-configurable-ag-grid-data #agGridComponent [columns]="agreemnetDetailsColumnsNames"
                [apiEndpoint]="'fetch_all_booking_agreements'" [apiMethod]="'POST'" [apiPayload]="getAgGridPayload()"
                [actions]="bookingActions" [headerButtons]="headerButtons()" [showCheckbox]="true"
                [idProperty]="'booking_id'" (rowSelected)="onRowSelected($event)">
            </app-configurable-ag-grid-data>
        </mat-tab>

        <mat-tab label="Customer Mail Log">
            <app-configurable-ag-grid-data #mailLogGridComponent [columns]="mailLogColumns"
                [apiEndpoint]="'fetch_customer_mail_log'" [apiMethod]="'POST'" [apiPayload]="getMailLogPayload()"
                [actions]="[]" [headerButtons]="[]" [showCheckbox]="false" [idProperty]="'mail_log_id'"
                [cacheBlockSize]="100" [autoLoad]="false">
            </app-configurable-ag-grid-data>
        </mat-tab>
    </mat-tab-group>

</app-template>