<h2 mat-dialog-title>
    {{ isEditMode() ? 'Edit Floor Rise' : 'Add Floor Rise' }}
</h2>

<mat-dialog-content>
    <form [formGroup]="floorRiseForm">

        <!-- Project Selection -->
        <div class="row ">
            <div class="col-md-4">
                <app-autocomplete-reusable-component formControlName="project_id" [options]="projectsList()"
                    displayKey="property_name" idKey="project_id" placeholder="Select Project">
                </app-autocomplete-reusable-component>
            </div>
            <div class="col-md-4">
                <app-autocomplete-reusable-component formControlName="wing_id" [options]="allWingslist()"
                    displayKey="wing_name" idKey="wing_id" placeholder="Select Wing">
                </app-autocomplete-reusable-component>
            </div>
            <div class="col-md-4">
                <app-autocomplete-reusable-component formControlName="floor_id" [options]="floorsList()"
                    displayKey="floor_name" idKey="floor_id" [isMultiSelect]="true" placeholder="Select Floor">
                </app-autocomplete-reusable-component>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Floor Rise Amount</mat-label>
                    <input matInput type="number" formControlName="floor_rise_amount"
                        placeholder="Enter floor rise amount" min="0" />

                    @if (
                    floorRiseForm.get('floor_rise_amount')?.hasError('required') &&
                    floorRiseForm.get('floor_rise_amount')?.touched
                    ) {
                    <mat-error>Floor rise amount is required</mat-error>
                    }

                    @if (floorRiseForm.get('floor_rise_amount')?.hasError('min')) {
                    <mat-error>Amount must be greater than or equal to 0</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Floor Rise On</mat-label>
              
                  <mat-select formControlName="floor_rise_on">
                    <mat-option [value]="null">Select Floor Rise On</mat-option>
                    <mat-option *ngFor="let num of floorRiseOnList" [value]="num">
                      {{ num }}
                    </mat-option>
                  </mat-select>
              
                  @if (
                    floorRiseForm.get('floor_rise_on')?.hasError('required') &&
                    floorRiseForm.get('floor_rise_on')?.touched
                  ) {
                    <mat-error>Floor rise on is required</mat-error>
                  }
                </mat-form-field>
              </div>
              
        </div>



    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>
        Cancel
    </button>

    <button mat-raised-button color="primary" type="button" (click)="onSubmit()"
        [disabled]="loading() || floorRiseForm.invalid">

        @if (loading()) {
        <mat-spinner diameter="20"></mat-spinner>
        } @else {
        {{ isEditMode() ? 'Update' : 'Save' }}
        }
    </button>
</mat-dialog-actions>