<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item ">After Sales</li>
    <li class="breadcrumb-item active">Template Management</li>
  </app-breadcrumb>
  <mat-accordion class="mb-3">
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Advanced Filters </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="addUnitBankerForm">
        <div class="row">
          <!-- Project Dropdown -->
          <div class="col-md-3">
            <app-autocomplete-reusable-component [options]="projectsList()" formControlName="project_id"
              displayKey="property_name" idKey="project_id" placeholder="Select Project" class="w-100">
            </app-autocomplete-reusable-component>
          </div>

          <!-- Wing Dropdown -->
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Wing</mat-label>
              <mat-select formControlName="wing_id">
                <mat-option *ngFor="let allwings of allWingsList()" [value]="allwings.wing_id">
                  {{ allwings.wing_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Apply Filter Button -->
          <div class="col-md-auto">
            <button mat-raised-button color="primary" class="d-flex align-items-center"
              [disabled]="!addUnitBankerForm.valid" (click)="fetchLetterConfig()">
              <mat-icon class="me-1">filter_list</mat-icon> Apply Filter
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <app-configurable-ag-grid-data [loading]="loading()" [headerButtons]="headerButtons" [columns]="displayedColumns"
    [actions]="projectActions" [idProperty]="'letter_config_id'" [apiEndpoint]="'fetch_all_letter_config'"
    [apiPayload]="agGridPayload()" [apiMethod]="'POST'" [autoLoad]="false"
    (actionClick)="onProjectAction($event.action, $event.row)">
  </app-configurable-ag-grid-data>

</app-template>