<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item"><a routerLink="/setup/courses">All Courses</a></li>
    <li class="breadcrumb-item"><a routerLink="/setup/courses/all-quizz">All Quizzes</a></li>
    <li class="breadcrumb-item active">All Questions</li>
  </app-breadcrumb>


  <mat-card>
    <mat-card-header>
      <mat-form-field appearance="outline" class="competency-dropdown">
        <mat-label>Select Competency</mat-label>
        <mat-select [(ngModel)]="competencyLevelId" (selectionChange)="onCompetencyChange()">
          <mat-option [value]="null">All</mat-option>
          <mat-option *ngFor="let competency of allCompetencyLevels" [value]="competency.competency_level_id">
            {{ competency.competency_level }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>

    <mat-card-content>

      <div class="question-card" *ngFor="let quiz of quizzes ; let i=index">
        <div class="question-card-content">
          <h3 class="title">{{i+1}}. {{ quiz.question_text }}</h3>
          <p class="points">Points: {{ quiz.points }}</p>
          <p class="creator">Created by: {{ quiz.created_by_string || '' }}</p>
        </div>
        <mat-checkbox color="primary" [(ngModel)]="quiz.question_already_present"
          (change)="removeFocus()"></mat-checkbox>
      </div>



      <p *ngIf="!loading && quizzes.length === 0" class="text-center mt-4">
        No questions available for this competency level.
      </p>
    </mat-card-content>

  </mat-card>

  <!-- Save Button at bottom-right -->
  <div class="sticky-save-button">
    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
  </div>
</app-template>