<h2 mat-dialog-title>{{ data.title }}
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>


<mat-dialog-content class="mat-typography">
    <mat-card-content>
        <form [formGroup]="addWingsForm" class="row">
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Enter Wing Name </mat-label>
                <input matInput formControlName="wing_name" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>CP Phase</mat-label>
                <mat-select formControlName="phase_id">
                    <mat-option *ngFor="let phase of allProjectPhases" [value]="phase.phase_id">
                        {{ phase.phase_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Active Status</mat-label>
                <mat-select formControlName="active_status_id">
                    <mat-option [value]="1">Active</mat-option>
                    <mat-option [value]="0">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-dialog-actions align="end">
        <button *ngIf="this.data?.rowData?.wing_id" mat-icon-button color="warn"
            (click)="$event.stopPropagation(); deletewings(this.data?.rowData?.wing_id)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
     
    </mat-dialog-actions>
</mat-dialog-content>

