<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="addSectionForm" class="row g-3 align-items-center">

        <mat-form-field appearance="outline" class="col-md-12">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
            <mat-error
                *ngIf="addSectionForm.get('title')?.touched && addSectionForm.get('title')?.hasError('required')">
                Title is required
            </mat-error>
        </mat-form-field>

        <!-- <ng-container>
            <quill-editor formControlName="description" [sanitize]="false"
                placeholder="Enter your course description here..." [styles]="{ height: '200px' }"></quill-editor>
        </ng-container> -->
        <div class="quill-wrapper"
            [ngClass]="{ 'quill-error': addSectionForm.get('description')?.invalid && addSectionForm.get('description')?.touched }">
            <quill-editor formControlName="description" [sanitize]="false" placeholder="Enter quiz description here..."
                [styles]="{ height: '200px' }">
            </quill-editor>
        </div>
        <mat-error
            *ngIf="addSectionForm.get('description')?.touched && addSectionForm.get('description')?.hasError('required')">
            Description is required
        </mat-error>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Select Quiz</mat-label>
            <mat-select formControlName="quiz_id">
                <mat-option *ngFor="let quiz of allQuiz" [value]="quiz.id">
                    {{ quiz.title }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="addSectionForm.get('quiz_id')?.touched && addSectionForm.get('quiz_id')?.hasError('required')">
                Quiz selection is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Active Status</mat-label>
            <mat-select formControlName="active_status_id">
                <mat-option [value]="1">Active</mat-option>
                <mat-option [value]="0">Inactive</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
        Save
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>