// Styles for compact form fields (used in Language/Template selectors)
::ng-deep .density-compact {
    .mat-mdc-form-field-subscript-wrapper {
        display: none; // Hide the reserved space for subscript if not needed
    }

    .mat-mdc-text-field-wrapper {
        padding-bottom: 0px !important;
        height: 40px !important; // Force smaller height
    }

    .mat-mdc-form-field-infix {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        min-height: 40px !important;
    }

    // Align label/text
    .mat-mdc-input-element {
        margin-top: -5px;
    }
}