<h2 mat-dialog-title>User Projects
  <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
    <mat-icon>close</mat-icon>
  </button>
</h2>

  <mat-dialog-content class="p-4">
    <!-- Conditionally show the form based on showAssignProjectForm -->
    <form *ngIf="showAssignProjectForm" [formGroup]="addTokenForm" class="g-3">
      <div class="row">
        <div class="col-md-8">
          <app-autocomplete-reusable-component 
            formControlName="project_id" 
            [options]="availableProjectsList"
            displayKey="property_name" 
            idKey="project_id" 
            [isMultiSelect]="true" 
            placeholder="Select Project">
          </app-autocomplete-reusable-component>
        </div>
        
        <div class="col-md-4">
          <button mat-raised-button color="primary" 
                  [disabled]="isAssignButtonDisabled"  
                  class="d-flex align-items-center w-100"
                  (click)="assignProject()">
            <mat-icon>add_circle</mat-icon>
            Submit
          </button>
        </div>
      </div>
    </form>
    
    <div class="mt-4">
      <app-reusable-custom-table 
        [headerButtons]="headerButtons" 
        [loading]="loading" 
        [idProperty]="'project_id'"
        [selectedItems]="selectedProjects"
        (selectedItemsChange)="selectedProjects = $event"
        [showCheckbox]="true"
        (checkboxChange)="onCheckboxSelected($event.checked, $event.row)"
        [dataSource]="dataSource"
        [displayedColumns]="displayedColumns" 
        [showFooter]="true">
      </app-reusable-custom-table>
    </div>
  </mat-dialog-content>
