// $primaryColor : #b8c362;

$primaryColor : #0d4678;

// $primaryColor : #f8f9f9;
$primaryColorDark : #15171f;
$primaryColorLight : #2d313d;
$secondaryColor : #343946;
$secondaryColorDark : #252832;
$secondaryColorLight : #4e5566;
$accentColor: #0d4678;
$accentColorOld : #D90429;
$footerColor : $primaryColor;
$white: #fff;
$black: #000;
$grey: #ccc;
$backgroundColorPalet: #18191a;
$navBarHeight : 2.5em;
$closedSidebarWidth : 4.5em;
$openedSidebarWidth : 17em;
$primaryButtonColor : #0d4678;


:export {
    primaryColor: $primaryColor;
    primaryColorDark: $primaryColorDark;
    primaryColorLight: $primaryColorLight;
    secondaryColor: $secondaryColor;
    secondaryColorDark: $secondaryColorDark;
    accentColor: $accentColor;
    footerColor: $footerColor;
    white: $white;
    black: $black;
    grey: $grey;
    backgroundColorPalet: $backgroundColorPalet;
    navBarHeight: $navBarHeight;
    closedSidebarWidth: $closedSidebarWidth;
    openedSidebarWidth: $openedSidebarWidth;
    primaryButtonColor: $primaryButtonColor;
}