@use '../../../variables' as vars;

.register-gradient {
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, vars.$primaryColorDark, vars.$primaryColorLight);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, vars.$primaryColorDark, vars.$primaryColorLight);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.middle-card {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
}

.register-button {
    background-color: vars.$primaryColor;
    color: white;
}