<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item"><a routerLink="/permission">Permission</a></li>
    <li class="breadcrumb-item active">Add Permission</li>

  </app-breadcrumb>

  <form [formGroup]="addPermissionForm" (ngSubmit)="onSubmit()">
    <div class="row gx-4 my-5">

      <app-autocomplete-reusable-component [options]="modulesList" formControlName="module_id"
        [displayKey]="'module_name'" [idKey]="'module_id'" [placeholder]="'Select Module'"
        (selectedIdChange)="fetchSubModules($event)" class="col-md-3"></app-autocomplete-reusable-component>

      <app-autocomplete-reusable-component [options]="subModulesList" formControlName="sub_module_id"
        [displayKey]="'module_name'" [idKey]="'module_id'" [placeholder]="'Select Sub Module'"
        class="col-md-3"></app-autocomplete-reusable-component>
      <!-- Active/Inactive (Select Field) -->
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Status</mat-label>
        <mat-select formControlName="active_status_id">
          <mat-option value="1">Active</mat-option>
          <mat-option value="2">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Permission Name</mat-label>
        <input matInput formControlName="permission_name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Permission Code</mat-label>
        <input matInput formControlName="permission_code">
      </mat-form-field>
      <!-- Description (Textarea Field) -->
      <mat-form-field appearance="outline" class="col-md-9">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>


    </div>

    <div class="row mt-3">
      <div class="col-auto ms-auto">
        <button color="primary" type="submit" [disabled]="addPermissionForm.invalid " mat-raised-button>Add</button>
      </div>
    </div>
  </form>

</app-template>