<app-template>
    <app-breadcrumb>
        <li class="breadcrumb-item active">Permission Access Management</li>
    </app-breadcrumb>

    <div class="flex flex-col h-[calc(100vh)] gap-4 p-4 bg-white rounded-xl border border-slate-200 shadow-sm">
        <div class="flex-none">
            <app-main-permission (chipClicked)="handleChipClick($event)"></app-main-permission>
        </div>

        <div class="flex-1 min-h-0 w-full rounded-lg border border-slate-200 overflow-hidden relative bg-white">
            <ag-grid-angular class="w-full h-full" [theme]="agGridTheme" [columnDefs]="columnDefs()"
                [defaultColDef]="defaultColDef" [rowData]="filteredRowData()" [getRowId]="getRowId"
                [context]="gridContext" [rowHeight]="30" [headerHeight]="40" [floatingFiltersHeight]="30"
                [getRowClass]="getRowClass" [pagination]="true" [paginationPageSize]="50"
                [paginationPageSizeSelector]="[25, 50, 100, 200]" [animateRows]="true" [enableCellTextSelection]="true"
                [suppressCellFocus]="true" [suppressRowClickSelection]="true" [loading]="loadingState()"
                [tooltipShowDelay]="500" [tooltipHideDelay]="1000" (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
    </div>
</app-template>