<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item ">Lead Management</li>

    <li class="breadcrumb-item active">All Project Lead</li>
  </app-breadcrumb>

  <mat-card>
    <mat-card-header class="d-flex flex-column mb-2">
      <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="true">
          <mat-expansion-panel-header>

            <mat-panel-title> Advanced Filters </mat-panel-title>

          </mat-expansion-panel-header>
          <form [formGroup]="leadForm" class="w-100 g-3">
            <div class="row">
              <!-- Project Dropdown -->
              <div class="col-md-2">
                <app-autocomplete-reusable-component [options]="projectsList" formControlName="project_id"
                  displayKey="property_name" idKey="project_id" [isMultiSelect]="true" placeholder="Select Project">
                </app-autocomplete-reusable-component>
              </div>

              <!-- Lead Type -->
              <div class="col-md-2">
                <app-autocomplete-reusable-component [options]="allLeadLevels" formControlName="lead_level_id"
                  displayKey="lead_level" idKey="lead_level_id" [isMultiSelect]="true" placeholder="Select Lead Type">
                </app-autocomplete-reusable-component>
              </div>

              <!-- Status -->
              <div class="col-md-2">
                <app-autocomplete-reusable-component [options]="statusDropdown" formControlName="status_id"
                  displayKey="enquiry_status" idKey="enquiry_status_id" [isMultiSelect]="true"
                  placeholder="Select Status">
                </app-autocomplete-reusable-component>
              </div>

              <!-- Telecaller -->
              <div class="col-md-2" *ngIf="!hasOnlyRoles([13])">
                <app-autocomplete-reusable-component [options]="allTelecallerlist" formControlName="telecaller_id"
                  displayKey="full_name" idKey="user_id" [isMultiSelect]="true" placeholder="Select Telecaller">
                </app-autocomplete-reusable-component>
              </div>

              <!-- Lead Date Range -->
              <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Lead Date</mat-label>
                  <mat-date-range-input [rangePicker]="leadDatePicker"
                    [disabled]="leadForm.get('ignore_date_filters')?.value">
                    <input matStartDate formControlName="start_date" placeholder="Start date">
                    <input matEndDate formControlName="end_date" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="leadDatePicker"></mat-datepicker-toggle>
                  <mat-date-range-picker #leadDatePicker></mat-date-range-picker>
                </mat-form-field>
              </div>

              <!-- Follow-up Date Range -->
              <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Follow-up Date</mat-label>
                  <mat-date-range-input [rangePicker]="followUpDatePicker"
                    [disabled]="leadForm.get('ignore_date_filters')?.value">
                    <input matStartDate formControlName="start_followup_date" placeholder="Start date">
                    <input matEndDate formControlName="end_followup_date" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="followUpDatePicker"></mat-datepicker-toggle>
                  <mat-date-range-picker #followUpDatePicker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <!-- <div class="col-md-2 d-flex align-items-center">
              <mat-checkbox formControlName="ignore_date_filters">Ignore Date Filters</mat-checkbox>
            </div> -->

              <!-- Apply Filter Button -->
              <div class="col-md-2">
                <button mat-raised-button color="primary" class="d-flex align-items-center w-100"
                  (click)="fetchAllProjectLeads()">
                  Apply Filter
                </button>
              </div>
            </div>
          </form>

        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-header>

    <mat-card-content>



      <app-reusable-custom-table [loading]="loading" [virtualScrolling]="true" [dataSource]="dataSource"
        [showPaginator]="false" [paginationOffset]="paginationParams.offset" [displayedColumns]="columnDefinitions"
        [actions]="bookingActions" [showCheckbox]="true" [idProperty]="'project_lead_id'"
        [selectedItems]="selectedBookings" [itemSize]="52" [initialLoadCount]="50"
        (selectedItemsChange)="selectedBookings = $event" [showFooter]="true" [headerButtons]="headerButtons"
        (actionClick)="onBookingAction($event.action, $event.row)"
        (checkboxChange)="onLeadSelectionChange($event.checked, $event.row)">
      </app-reusable-custom-table>
    </mat-card-content>

    <app-pagination [currentPage]="paginationParams.offset / paginationParams.limit + 1" [totalItems]="totalItems"
      [pageSize]="paginationParams.limit" [filteredCount]="paginationParams.filteredCount"
      [pageSizeOptions]="[10, 20, 30,50,100,300, 500, 'All']" [showPageSize]="true" (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>

  </mat-card>
</app-template>