


<mat-card class="mt-3 card-shadow-sm">
  <div [ngClass]="applicantEducation.length? 'no-border' : 'warning-border'"
class=" card rounded-2 card-shadow-sm p-4" id="education">

<p class="alert alert-warning py-2 rounded-0 paragraph-text">List your educational qualifications
  starting from High
  School (10th) onwards.</p>


<div class="hstack align-items-center mb-3">
  <p class="second-heading-ptag m-0">Education</p>
  <button mat-button class="ms-auto" (click)="openEducationDialog('add')" color="primary">Add
    Education</button>
</div>

<div *ngFor="let item of applicantEducation" class="mb-3">
  <div class="hstack gap-3 ">
    <p class="mb-1 fw-medium  paragraph-text">{{ item.level_string }} {{ item.course_string ??
      ''}}
      {{ item.specialization_string?? '' }}
    </p>
    <mat-icon class="icon-button" (click)="openEducationDialog('update',item)">edit</mat-icon>
  </div>
  <p class="mb-1  fw-medium paragraph-text">{{ item.institution }}, {{ item.city }}, {{ item.state }}
  </p>
  <p class="mb-1 fw-light  paragraph-text"> {{ checkGradeType(item.grade)}}
  </p>
</div>

<!-- <div *ngIf="!applicantEducation?.length" class="d-flex align-items-center">
                <span class="paragraph-text me-3"><mat-icon>error</mat-icon></span>
                <p class="paragraph-text m-0">{{noEducationErrorMessage}}</p>
            </div> -->
<app-no-data-error-message [dataArray]="applicantEducation"
  [noDataErrorMessage]="'Please add your education information to provide recruiters with more insight into your profile. It will help them understand your qualifications and background better.'"></app-no-data-error-message>

</div>
</mat-card>

