<h2 mat-dialog-title class="mat-title">Assign Project {{ data.project_name }}
  <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content class="mat-typography">

  <div class="sticky-top bg-light p-3 border rounded shadow-sm">
    <form [formGroup]="leadAssignForm" class="row gx-2 gy-2 align-items-center">
      <div class="col-md-4">
        <app-autocomplete-reusable-component [options]="allSalesExecutives" [isMultiSelect]="true"
          formControlName="user_id" displayKey="full_name" idKey="user_id">
        </app-autocomplete-reusable-component>

      </div>
      <div class="col-md-4">
        <button mat-raised-button color="primary" (click)="onSubmit()" type="submit"
          [disabled]="!leadAssignForm.get('user_id')?.value?.length">
          Assign Project
        </button>
      </div>
    </form>
  </div>


  <app-reusable-custom-table [loading]="loading" [dataSource]="dataSource" [displayedColumns]="displayedColumns"
    [actions]="projectActions" [showFooter]="true" (actionClick)="onProjectAction($event.action, $event.row)">
  </app-reusable-custom-table>
</mat-dialog-content>