<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item"> <a routerLink="/hrms">HRMS</a></li>
    <li class="breadcrumb-item active">Leaves</li>
  </app-breadcrumb>
  <div class="row mt-3 mb-3 mb-md-0 d-flex justify-content-between">
    <div class="col-12 col-md-6 order-1 order-md-0">
      <mat-form-field appearance="outline" class="me-3 w-100">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilter($event)">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; applyFilter($event)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-3 text-end">
      <button color="primary" (click)="openAddLeaveDialog()" mat-raised-button>Add</button>

    </div>
  </div>




  <div class="row">
    <div class="col-md-12">
      <div class="mat-elevation-z2">

        <div class="table-responsive">
          <mat-progress-bar *ngIf="loadingState" mode="indeterminate"></mat-progress-bar>
          <table class="w-100" mat-table [dataSource]="dataSource" matSort>
            <ng-container class="custom-checkbox" matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell (click)="$event.stopPropagation()" *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? handleSelect(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>


            <!-- UserID Column -->
            <ng-container matColumnDef="user_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
              <td mat-cell *matCellDef="let element">{{ element.user_name }}</td>
            </ng-container>

            <!-- LeaveTypeID Column -->
            <ng-container matColumnDef="leave_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</th>
              <td mat-cell *matCellDef="let element">{{ element.leave_type }}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="leave_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Date</th>
              <td mat-cell *matCellDef="let element">{{ element.leave_date | date: 'short' }}</td>
            </ng-container>
            <ng-container matColumnDef="return_to_office">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Return Date</th>
              <td mat-cell *matCellDef="let element">{{ element.return_to_office | date: 'short' }}</td>
            </ng-container>
            <!-- CRDR Column -->
            <ng-container matColumnDef="crdr">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CRDR</th>
              <td mat-cell *matCellDef="let element">{{ element.crdr == 2 ? "DR" : "CR"}}</td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
              <td mat-cell *matCellDef="let element">{{ element.amount ??"--" }}</td>
            </ng-container>

            <!-- Reason Column -->
            <ng-container matColumnDef="reason">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
              <td mat-cell *matCellDef="let element">{{ element.reason }}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="leave_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Status</th>
              <td mat-cell *matCellDef="let element">{{ element.leave_status }}</td>
            </ng-container>

            <!-- Comments Column -->
            <ng-container matColumnDef="comments">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
              <td mat-cell *matCellDef="let element">{{ element.comments }}</td>
            </ng-container>

            <!-- CreatedBy Column -->
            <ng-container matColumnDef="created_by_string">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
              <td mat-cell *matCellDef="let element">{{ element.created_by_string }}</td>
            </ng-container>

            <!-- CreatedDate Column -->
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
              <td mat-cell *matCellDef="let element">{{ element.created_at | date: 'short' }}</td>
            </ng-container>

            <!-- UpdatedBy Column -->
            <ng-container matColumnDef="updated_by_string">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</th>
              <td mat-cell *matCellDef="let element">{{ element.updated_by_string }}</td>
            </ng-container>

            <!-- UpdatedDate Column -->
            <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated Date</th>
              <td mat-cell *matCellDef="let element">{{ element.updated_at | date: 'short' }}</td>
            </ng-container>





            <!-- Add more columns as needed -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditLeaveDialog(row)"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

  </div>



</app-template>