<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item">Sales Management</li>
    <li class="breadcrumb-item"> Bookings</li>
    <li class="breadcrumb-item active">All Bookings</li>
  </app-breadcrumb>

  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Advanced Filters </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="bookingForm" class="row ">
        <!-- Project Dropdown -->
        <div class="col-md-2">
          <app-autocomplete-reusable-component [options]="projectsList()" formControlName="project_id"
            displayKey="property_name" [isMultiSelect]="true" idKey="project_id" placeholder="Select Project">
          </app-autocomplete-reusable-component>
        </div>

        <!-- Wing Dropdown -->
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Wing</mat-label>
            <mat-select formControlName="wing_id">
              <mat-option *ngFor="let allwings of allWingslist(); trackBy: trackByWingId" [value]="allwings.wing_id">
                {{ allwings.wing_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Floor</mat-label>
            <mat-select formControlName="floor_id">
              <mat-option *ngFor="let floor of FloorUnitDropdown(); trackBy: trackByFloorId" [value]="floor.floor_id">
                {{ floor.floor_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Agreement Status</mat-label>
            <mat-select formControlName="agreement_status_id">
              <mat-option value="1">Done</mat-option>
              <mat-option value="0">Not Done</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <!-- Lead Date Range -->
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Booking Date</mat-label>
            <mat-date-range-input [rangePicker]="leadDatePicker">
              <input matStartDate formControlName="start_date" placeholder="Start date" (click)="leadDatePicker.open()">
              <input matEndDate formControlName="end_date" placeholder="End date" (click)="leadDatePicker.open()">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="leadDatePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #leadDatePicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <app-autocomplete-reusable-component [options]="store.sources()" formControlName="source_id"
            displayKey="source" idKey="source_id" placeholder="Select Source">
          </app-autocomplete-reusable-component>
        </div>

        @if (store.isNotChannelPartnerSource()) {
        <div class="col-md-2">
          <app-autocomplete-reusable-component [options]="store.sourceDetails()" formControlName="source_detail_id"
            displayKey="source_detail" idKey="source_detail_id" placeholder="Select Source Type">
          </app-autocomplete-reusable-component>
        </div>
        }

        @if (store.isChannelPartnerSource()) {
        <app-autocomplete-reusable-component [options]="store.channelPartners()" class="col-md-2"
          formControlName="channel_partner_id" displayKey="full_name" idKey="channel_partner_id"
          placeholder="Select Partner Firm" (inputChanged)="onPartnerSearch($event)">
        </app-autocomplete-reusable-component>
        }

        <!-- Apply Filter Button -->
        <div class="col-md-auto">
          <button mat-raised-button color="primary" class="d-flex align-items-center w-100"
            [disabled]="!bookingForm.valid" (click)="fetchAllBookings(true)">
            <mat-icon class="me-1">filter_list</mat-icon> Apply Filter
          </button>
        </div>
      </form>


    </mat-expansion-panel>
  </mat-accordion>
  <app-configurable-ag-grid-data [loading]="loading()" [columns]="bookingDisplayedColumns"
    [storageKey]="'fetch_all_bookings_v3'" [apiEndpoint]="'fetch_all_bookings'" [apiMethod]="'POST'"
    [apiPayload]="getAgGridApiPayload()" [actions]="bookingActions" [headerButtons]="headerButtons"
    [showCheckbox]="true" [cacheBlockSize]="100" [idProperty]="'booking_id'" [selectedItems]="selectedBooking()"
    (actionClick)="onBookingAction($event.action, $event.row)" (rowSelected)="selectedBooking.set($event)"
    (checkboxChange)="onBookingSelectionChange($event.checked, $event.row)">
  </app-configurable-ag-grid-data>