<app-template>

  <app-main-permission (chipClicked)="handleChipClick($event)"></app-main-permission>


  <app-breadcrumb>
    <li class="breadcrumb-item active">All Roles</li>
  </app-breadcrumb>

  <mat-card>
    <mat-card-content>
      <app-reusable-custom-table [loading]="loading" [dataSource]="dataSource" [headerButtons]="headerButtons"
        [displayedColumns]="displayedColumns" [actions]="projectActions" [showFooter]="true"
        (actionClick)="onProjectAction($event.action, $event.row)">

      </app-reusable-custom-table>

    </mat-card-content>
  </mat-card>

</app-template>