<h2 mat-dialog-title>{{title}}</h2>
<form [formGroup]="LanguageForm" (ngSubmit)="saveLanguage()">
    <mat-dialog-content >

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Language Name</mat-label>
                <!-- <input matInput placeholder="English" formControlName="language_name"> -->

                <mat-select formControlName="language_id" required>
                    <mat-option *ngFor="let language of Languages" [value]="language.language_id">{{
                        language.language_name
                        }}</mat-option>
                </mat-select>
                <mat-error *ngIf="LanguageForm.controls['language_id'].hasError('required')">Field is
                    required</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Read Proficiency</mat-label>
                <mat-select formControlName="read_language" required>
                    <mat-option *ngFor="let rating of Ratings" [value]="rating.rating_id">{{ rating.rating_name
                        }}</mat-option>
                </mat-select>
                <mat-error *ngIf="LanguageForm.controls['read_language'].hasError('required')">Field is
                    required</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Write Proficiency</mat-label>
                <mat-select formControlName="write_language" required>
                    <mat-option *ngFor="let rating of Ratings" [value]="rating.rating_id">{{ rating.rating_name
                        }}</mat-option>
                </mat-select>
                <mat-error *ngIf="LanguageForm.controls['write_language'].hasError('required')">Field is
                    required</mat-error>
            </mat-form-field>



            <mat-form-field appearance="outline">
                <mat-label>Speak Proficiency</mat-label>
                <mat-select formControlName="speak_language" required>
                    <mat-option *ngFor="let rating of Ratings" [value]="rating.rating_id">{{ rating.rating_name
                        }}</mat-option>
                </mat-select>
                <mat-error *ngIf="LanguageForm.controls['speak_language'].hasError('required')">Field is
                    required</mat-error>
            </mat-form-field>
        </div>


    </mat-dialog-content>

    <mat-dialog-actions align="end">

        <button *ngIf="this.title === 'Update Language'" mat-button type="button" (click)="deleteLanguage()" color="error"
            class="me-auto" [disabled]="deleteLoading">
            <span *ngIf="!deleteLoading">Delete Language</span>
            <mat-spinner color="warn" diameter="20" *ngIf="deleteLoading"></mat-spinner>
        </button>


        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [disabled]="uploading || LanguageForm.invalid">Save</button>

    </mat-dialog-actions>
</form>
