<h2 mat-dialog-title>{{ data.title }}
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="addCpExecutiveForm" (ngSubmit)="onSubmit()" class="row g-3 align-items-center">

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name" required />
            <mat-error *ngIf="addCpExecutiveForm.get('first_name')?.hasError('required')">
                First name is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name" required />
            <mat-error *ngIf="addCpExecutiveForm.get('last_name')?.hasError('required')">
                Last name is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Email</mat-label>
            <input matInput formControlName="user_email" required email />
            <mat-error *ngIf="addCpExecutiveForm.get('user_email')?.hasError('required')">
                Email is required.
            </mat-error>
            <mat-error *ngIf="addCpExecutiveForm.get('user_email')?.hasError('email')">
                Invalid email format.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="user_phone" required pattern="^\d{10}$" />
            <mat-error *ngIf="addCpExecutiveForm.get('user_phone')?.hasError('required')">
                Phone number is required.
            </mat-error>
            <mat-error *ngIf="addCpExecutiveForm.get('user_phone')?.hasError('pattern')">
                Phone number must be 10 digits.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>PAN Number</mat-label>
            <input matInput formControlName="pan_no" required pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$" />
            <mat-error *ngIf="addCpExecutiveForm.get('pan_no')?.hasError('required')">
                PAN number is required.
            </mat-error>
            <mat-error *ngIf="addCpExecutiveForm.get('pan_no')?.hasError('pattern')">
                Invalid PAN number format.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required />
            <mat-error *ngIf="addCpExecutiveForm.get('address')?.hasError('required')">
                Address is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" required />
            <mat-error *ngIf="addCpExecutiveForm.get('country')?.hasError('required')">
                Country is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" required />
            <mat-error *ngIf="addCpExecutiveForm.get('state')?.hasError('required')">
                State is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>PIN Code</mat-label>
            <input matInput formControlName="pin_code" required pattern="^\d{6}$" />
            <mat-error *ngIf="addCpExecutiveForm.get('pin_code')?.hasError('required')">
                PIN Code is required.
            </mat-error>
            <mat-error *ngIf="addCpExecutiveForm.get('pin_code')?.hasError('pattern')">
                PIN Code must be 6 digits.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required />
            <mat-error *ngIf="addCpExecutiveForm.get('password')?.hasError('required')">
                Password is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Birth Date</mat-label>
            <input matInput formControlName="dob" [matDatepicker]="picker"
                placeholder="Select Date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Aadhar Number</mat-label>
            <input matInput formControlName="aadhar_no" required pattern="^\d{12}$" />
            <mat-error *ngIf="addCpExecutiveForm.get('aadhar_no')?.hasError('required')">
                Aadhar number is required.
            </mat-error>
            <mat-error *ngIf="addCpExecutiveForm.get('aadhar_no')?.hasError('pattern')">
                Aadhar number must be 12 digits.
            </mat-error>
        </mat-form-field>

        <app-autocomplete-reusable-component [options]="allChannelPartnerList" class="col-md-3"
      
        formControlName="channel_partner_id" displayKey="full_name" idKey="channel_partner_id"
        placeholder="Select Partner Firm" (inputChanged)="onPartnerSearch($event)">
        <!-- event handler -->
    </app-autocomplete-reusable-component>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>City</mat-label>
            <mat-select formControlName="city_id" multiple>
                <mat-option *ngFor="let city of allCities" [value]="city.city_id">{{ city.city_name
                    }}</mat-option>
            </mat-select>
            <mat-error *ngIf="addCpExecutiveForm.get('city_id')?.hasError('required')">
                City is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Sub region</mat-label>
            <mat-select formControlName="sub_region_id" multiple>
                <mat-option *ngFor="let region of allSubregions" [value]="region.sub_region_id">{{
                    region.sub_region }}</mat-option>
            </mat-select>
            <mat-error *ngIf="addCpExecutiveForm.get('sub_region_id')?.hasError('required')">
                Sub region is required.
            </mat-error>
        </mat-form-field>
        <div class="col-md-4">
            <label for="fileInput" class="form-label">Upload Profile Photo</label>
            <div class="border p-3 rounded-3 shadow-sm">
                <div class="d-flex align-items-center justify-content-between">
                    <p *ngIf="imageSize" class="me-auto text-muted">
                        {{ selectedFile?.name }} - {{ imageSize }}
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="input-group">
                            <button mat-button>
                                <input #fileInput type="file" (change)="onChangeFile($event)"
                                    formControlName="profile_image" class="file-input" />
                                Choose file
                            </button>
                        </div>
                        <div class="vr mx-3"></div>
                        <!-- Delete Button with border and color styling -->
                        <button mat-icon-button type="button" (click)="deleteFile()">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <!-- Display selected image preview if it's an image file -->
                <div *ngIf="imagePreview">
                    <div class="mt-3">
                        <img [src]="imagePreview" alt="Image Preview" class="img-fluid"
                            style="max-width: 100%; max-height: 200px; object-fit: contain;" />
                    </div>
                </div>

            </div>
        </div>

        <mat-dialog-actions align="end">
            <button mat-raised-button color="primary" type="submit"> Save</button>
     
        </mat-dialog-actions>
    </form>
</mat-dialog-content>