<app-template>
    <app-breadcrumb>
        <li class="breadcrumb-item">Events</li>
    </app-breadcrumb>

    <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="true" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Advanced Filters</mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="eventFilterForm" class="w-100 g-3 align-items-end">
                <div class="row">
                    <div class="col-md-4">




                        <app-autocomplete-reusable-component formControlName="event_id" [options]="allEvents()"
                            class="col-md-3" idKey="event_id" displayKey="event_title" placeholder="Select Event">
                        </app-autocomplete-reusable-component>
                    </div>


                    <div class="col-md-2">
                        <button mat-raised-button type="button" color="primary" class="d-flex align-items-center w-100"
                            (click)="applyFilters()" [disabled]="eventFilterForm.invalid || loading()">
                            <mat-icon class="me-1">filter_list</mat-icon>
                            {{ loading() ? 'Applying...' : 'Apply Filter' }}
                        </button>
                    </div>

                    <div class="col-md-2">
                        <button mat-raised-button type="button" color="primary" class="d-flex align-items-center w-100"
                            (click)="navigateToAllEvents()">
                            Create Event
                        </button>
                    </div>

                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>


    <mat-tab-group [selectedIndex]="selectedTabIndex()" (selectedTabChange)="onTabChange($event)">
        <!-- Tab 1: All Events Users -->
        <mat-tab label="All Event Users">
            <div class="tab-content mt-4">
                <app-configurable-ag-grid-data #usersGrid [columns]="columnDefinitions()"
                    [apiEndpoint]="'fetch_event_users'" [actions]="bookingActions" [idProperty]="'token_id'"
                    (actionClick)="onBookingAction($event.action, $event.row)" [apiPayload]="agGridPayload()">
                </app-configurable-ag-grid-data>
            </div>
        </mat-tab>

        <!-- Tab 2: All User Attendance -->
        <mat-tab label="User Attendance">
            <div class="tab-content mt-4">
                <app-configurable-ag-grid-data #attendanceGrid [columns]="attendanceColumnDefinitions()"
                    [apiEndpoint]="'fetch_event_user_attendance'" [actions]="bookingActions" [idProperty]="'token_id'"
                    (actionClick)="onBookingAction($event.action, $event.row)" [apiPayload]="attendanceAgGridPayload()">
                </app-configurable-ag-grid-data>
            </div>
        </mat-tab>
        <mat-tab label="Not Reg. Customers" *ngIf="selectedEventTypeId() === 1">
            <div class="tab-content mt-4">
                <app-configurable-ag-grid-data #notRegUserGrid [columns]="notRegColumnDefinitions"
                    [apiEndpoint]="'fetch_not_reg_users'" [actions]="bookingActions" [idProperty]="'token_id'"
                    (actionClick)="onBookingAction($event.action, $event.row)" [apiPayload]="notRegAgGridPayload()">
                </app-configurable-ag-grid-data>
            </div>
        </mat-tab>
    </mat-tab-group>
</app-template>