<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item ">Marketing</li>

    <li class="breadcrumb-item active">All Budgets</li>
  </app-breadcrumb>

  <mat-card>
    <mat-card-content>

      <form [formGroup]="addBudget" class="row">
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Project</mat-label>
          <mat-select formControlName="project_id" multiple>
            <mat-option *ngFor="let project of projectsList" [value]="project.project_id">
              {{ project.property_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addBudget.get('project_id')?.invalid && addBudget.get('project_id')?.touched">
            Project is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2">
          <mat-label>Source</mat-label>
          <mat-select formControlName="source_id">
            <mat-option *ngFor="let source of sourcesList" [value]="source.source_id">
              {{ source.source }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-2"
          *ngIf="!(this.addBudget.controls['source_id'].value == '3')">
          <mat-label>Select Source Detail</mat-label>
          <mat-select formControlName="source_detail_id">
            <mat-option *ngFor="let sourceDetails of sourcerDetailedList" [value]="sourceDetails.source_detail_id">
              {{ sourceDetails.source_detail }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <app-autocomplete-reusable-component [options]="allChannelPartnerList" class="col-md-3"
          *ngIf="this.addBudget.controls['source_id'].value == '3'" formControlName="channel_partner_id"
          displayKey="full_name" idKey="channel_partner_id" placeholder="Select Partner Firm"
          (inputChanged)="onPartnerSearch($event)">
          <!-- event handler -->
        </app-autocomplete-reusable-component>

        <!-- Month and Year Fields (No Change) -->
        <mat-form-field appearance="outline" class="col-md-2">
          <mat-label>Month and Year</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date">
          <mat-hint>MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
            panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>

        <div class="col-md-1">
          <button mat-raised-button color="primary" (click)="filterData();" class="btn-sm"
            [disabled]="addBudget.invalid">
            Filter
          </button>
        </div>
      </form>

      <app-reusable-custom-table [loading]="loading" [dataSource]="dataSource" [displayedColumns]="displayedColumns"
        [actions]="leadActions " [showCheckbox]="true" [showFooter]="true" [headerButtons]="headerButtons"
        (actionClick)="getLeadActions($event.action, $event.row)"
        (checkboxChange)="onBookingSelectionChange($event.checked, $event.row)">

      </app-reusable-custom-table>

    </mat-card-content>
  </mat-card>
</app-template>