<div class="column-filter" (click)="$event.stopPropagation()">
  <input 
    class="column-filter-input" 
    [placeholder]="placeholder" 
    [ngModel]="value" 
    (ngModelChange)="onInputChange($event)"
    (keyup.enter)="onEnterKey()"
    (keydown.space)="$event.stopPropagation()"
    (click)="$event.stopPropagation()">
  
  <button *ngIf="value" class="clear-button" (click)="clearFilter(); $event.stopPropagation()" aria-label="Clear filter" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>