<h2 mat-dialog-title>
    {{ editMode ? 'Edit Booking Visitor' : 'Add Booking Visitor' }}
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="addSourceForm"  class="row mt-1">

     
        <app-autocomplete-reusable-component class="col-md-4" [options]="projectsList" idKey="project_id"
        displayKey="property_name" placeholder="Select Project" formControlName="project_id" >
    </app-autocomplete-reusable-component>


        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Select Token Type</mat-label>
            <mat-select formControlName="token_type">
                <mat-option *ngFor="let token of allTokenType" [value]="token.token_type_id">
                    {{ token.token_type }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Date of Visit</mat-label>
            <input matInput  [matDatepicker]="bookingDate"
              formControlName="date_of_visit" />
            <mat-datepicker-toggle matSuffix [for]="bookingDate"></mat-datepicker-toggle>
            <mat-datepicker #bookingDate></mat-datepicker>
          </mat-form-field>
   

        <app-autocomplete-reusable-component class="col-md-4" [options]="allTokenNolist" formControlName="token_id"
            displayKey="displayText" idKey="token_id" placeholder="Select Token">
        </app-autocomplete-reusable-component>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>No of Visitor</mat-label>
            <input type="number" matInput formControlName="no_visitor" placeholder="Enter No of Visitor" />
        </mat-form-field>
       
  
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" class="w-100" (click)="onSubmit()" class="d-flex align-items-center" [disabled]="addSourceForm.invalid">
        <mat-icon>save</mat-icon>
        <span class="ms-2">{{ editMode ? 'Update' : 'Save' }}</span>
    </button>
</mat-dialog-actions>