<h2 mat-dialog-title>{{ data.title }}
  <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography">


  <form [formGroup]="addCPLevelsForm" (ngSubmit)="onSubmit()" class="row g-3 align-items-center">



    <mat-form-field appearance="outline" class="col-md-12">
      <mat-label>CP Type</mat-label>
      <input matInput formControlName="cp_type" type="text" />
      <mat-error *ngIf="addCPLevelsForm.get('cp_type')?.hasError('required')">
        CP Type is required
      </mat-error>
    </mat-form-field>



    <mat-form-field appearance="outline" class="col-md-12">
      <mat-label>Description</mat-label>
      <textarea rows="3" matInput formControlName="description"></textarea>
      <mat-error *ngIf="addCPLevelsForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-12">
      <mat-label>Active Status</mat-label>
      <mat-select formControlName="active_status_id">
        <mat-option [value]="1">Active</mat-option>
        <mat-option [value]="2">Inactive</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit">
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>