<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item ">Lead Management</li>
    <li class="breadcrumb-item active">{{ facade.pageTitle() }}</li>
  </app-breadcrumb>

  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="facade.isPanelExpanded()">
      <mat-expansion-panel-header>
        <mat-panel-title> Advanced Filters </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="enquiryFilterForm" class="w-100 g-3">
        <div class="row">
          <!-- Project Dropdown -->
          <div class="col-md-2">
            <app-autocomplete-reusable-component [options]="facade.projectsList()" formControlName="project_id"
              displayKey="property_name" idKey="project_id" [isMultiSelect]="true" placeholder="Select Project">
            </app-autocomplete-reusable-component>
          </div>

          <!-- Lead Level Dropdown -->
          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Lead Level</mat-label>
              <mat-select formControlName="lead_level_id">
                <mat-option [value]="0" disabled>Select Lead Level</mat-option>
                @for (level of facade.leadLevels(); track level.lead_level_id) {
                <mat-option [value]="level.lead_level_id">
                  {{ level.lead_level }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Call Status Dropdown -->
          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Call Status</mat-label>
              <mat-select formControlName="call_status_id">
                @for (callStatus of facade.callStatus(); track callStatus.call_status_id) {
                <mat-option [value]="callStatus.call_status_id">
                  {{ callStatus.call_status }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Source -->
          <div class="col-md-2">
            <app-autocomplete-reusable-component [options]="facade.sourcesList()" formControlName="source_id"
              displayKey="source" idKey="source_id" placeholder="Select Source">
            </app-autocomplete-reusable-component>
          </div>

          @if (isNotChannelPartnerSource()) {
          <div class="col-md-2">
            <app-autocomplete-reusable-component [options]="facade.sourceDetailedList()"
              formControlName="source_detail_id" displayKey="source_detail" idKey="source_detail_id"
              placeholder="Select Source Type">
            </app-autocomplete-reusable-component>
          </div>
          } @else {
          <div class="col-md-2">
            <app-autocomplete-reusable-component [options]="facade.allChannelPartnerList()"
              formControlName="channel_partner_id" displayKey="full_name" idKey="channel_partner_id"
              placeholder="Select Partner Firm" (inputChanged)="onPartnerSearch($event)">
            </app-autocomplete-reusable-component>
          </div>
          }

          <!-- Telecaller -->
          <div class="col-md-2">
            <app-autocomplete-reusable-component [options]="facade.allTelecallerlist()" formControlName="telecaller_id"
              displayKey="full_name" idKey="user_id" [isMultiSelect]="true" placeholder="Select Telecaller">
            </app-autocomplete-reusable-component>
          </div>

          <!-- Lead Date Range -->
          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Lead Date</mat-label>
              <mat-date-range-input [rangePicker]="leadDatePicker"
                [disabled]="enquiryFilterForm.get('ignore_date_filters')?.value">
                <input matStartDate formControlName="start_date" placeholder="Start date">
                <input matEndDate formControlName="end_date" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="leadDatePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #leadDatePicker></mat-date-range-picker>
            </mat-form-field>
          </div>

          <!-- Follow-up Date Range -->
          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Follow-up Date</mat-label>
              <mat-date-range-input [rangePicker]="followUpDatePicker"
                [disabled]="enquiryFilterForm.get('ignore_date_filters')?.value">
                <input matStartDate formControlName="start_followup_date" placeholder="Start date">
                <input matEndDate formControlName="end_followup_date" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="followUpDatePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #followUpDatePicker></mat-date-range-picker>
            </mat-form-field>
          </div>

          <div class="col-md-2">
            <button mat-raised-button color="primary" class="d-flex align-items-center w-100"
              (click)="fetchAllProjectLeads()" [disabled]="enquiryFilterForm.invalid">
              Apply Filter
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <app-configurable-ag-grid-data [columns]="columnDefinitions()" [apiEndpoint]="'fetch_all_lead'" [apiMethod]="'POST'"
    [apiPayload]="agGridPayload()" [actions]="bookingActions" [headerButtons]="headerButtons()" [showCheckbox]="true"
    [idProperty]="'project_lead_id'" [selectedItems]="facade.selectedBookings()" [getRowClass]="getRowClass"
    [cacheBlockSize]="100" [autoLoad]="false" [customTheme]="customTheme()"
    (actionClick)="onBookingAction($event.action, $event.row)"
    (checkboxChange)="onLeadSelectionChange($event.checked, $event.row)" (rowSelected)="onRowSelectedUpdate($event)">
  </app-configurable-ag-grid-data>
</app-template>