    <!-- COVER LETTER SECTION  -->
<mat-card class="mt-3 card-shadow-sm">
  <div [ngClass]="coverLetterContent? 'no-border' : 'warning-border'"
  class="card rounded-2 card-shadow-sm  p-4" id="cover_letter">

  <div class="hstack gap-3 mb-3">
    <p class="second-heading-ptag mb-1">Cover letter</p>

    <mat-icon class="icon-button " (click)="openUpdateCoverLetterDialog()">edit</mat-icon>
  </div>
  <div [innerHTML]="coverLetterContent" *ngIf="coverLetterContent">
  </div>


  <div *ngIf="!coverLetterContent" class="d-flex align-items-center">
    <span class="paragraph-text me-3"><mat-icon>error</mat-icon></span>
    <p class="paragraph-text m-0">{{'Please provide a cover letter data as it assists recruiters in reviewing your resume effectively.'}}</p>
  </div>



</div>
</mat-card>

