<div  class="container-fluid d-flex justify-content-center align-items-center bg-light" style="min-height: 100vh;">
  <div class="container card shadow-sm bg-white my-5">
    <div class="row">
      <div>
        <img class="mb-md-auto mb-3 mt-3 mt-md-0 w-30" src="assets/Images/snp_money_logo.png" />
    </div>
    </div>
      <div class="row px-3 mx-auto">
          <!-- Image- Left Side -->
          <div class="col-md-6 me-auto  d-none d-md-flex justify-content-center align-items-center">
              <img class="img-fluid" src="assets\Images\registration.jpg" />
          </div>

          <!-- Logo & Form - Right Side -->
          <div class="col-md-6 bg-white d-flex justify-content-center align-items-center p-5">

              <!-- Enter Email Div -->
              <div *ngIf="enterUsernameDiv">
                  <p class="display-6 ">Reset Your Password </p>
                  <p class="lead mb-4">"Unlock the full potential of our services by entering following information now."
                  </p>
                  <form [formGroup]="usernameForm" (ngSubmit)="usernameSubmit()">
                      <mat-form-field appearance="fill" class="w-100">
                          <mat-label>Username</mat-label>
                          <input type="text" matInput formControlName="username">
                          <mat-error *ngIf="usernameForm.controls['username'].hasError('required') ">
                            Username is required
                          </mat-error>

                      </mat-form-field>
                      <button [disabled]="disableButton"  type="submit" mat-raised-button>Submit</button>
                  </form>

              </div>

              <!-- Enter OTP Div -->
              <div *ngIf="enterOtpDiv">
                  <p class="display-6 ">OTP Verification</p>
                  <p class="lead mb-4">An OTP has been sent to your registered Email ID, please enter it below.
                  </p>
                  <form [formGroup]="otpForm" (ngSubmit)="otpSubmit()">
                      <mat-form-field appearance="fill" class="w-100">
                          <mat-label>Enter OTP</mat-label>
                          <input type="text" matInput formControlName="otp">
                          <mat-error *ngIf="otpForm.controls['otp'].hasError('required') ">
                              OTP is required
                          </mat-error>
                      </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>New Password</mat-label>
                      <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="new_password">
                      <mat-icon matSuffix (click)="togglePasswordVisibility()">
                          {{showPassword?'visibility':'visibility_off'}}</mat-icon>
                      <mat-error *ngIf="otpForm.controls['new_password'].hasError('required') ">
                          Password is required
                      </mat-error>
                      <mat-error *ngIf="otpForm.controls['new_password'].hasError('passwordStrength')">
                          Password must include: 
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasMinLength">
                              minimum 8 characters
                          </span>
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasMinLength && 
                                       (!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasUpperCase || 
                                        !otpForm.controls['new_password'].errors?.['passwordStrength']?.hasLowerCase || 
                                        !otpForm.controls['new_password'].errors?.['passwordStrength']?.hasNumeric ||
                                        !otpForm.controls['new_password'].errors?.['passwordStrength']?.hasSpecialChar)">, </span>
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasUpperCase">
                              one uppercase letter
                          </span>
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasUpperCase && 
                                       (!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasLowerCase || 
                                        !otpForm.controls['new_password'].errors?.['passwordStrength']?.hasNumeric ||
                                        !otpForm.controls['new_password'].errors?.['passwordStrength']?.hasSpecialChar)">, </span>
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasLowerCase">
                              one lowercase letter
                          </span>
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasLowerCase && 
                                       (!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasNumeric ||
                                        !otpForm.controls['new_password'].errors?.['passwordStrength']?.hasSpecialChar)">, </span>
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasNumeric">
                              one number
                          </span>
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasNumeric && 
                                       !otpForm.controls['new_password'].errors?.['passwordStrength']?.hasSpecialChar">, </span>
                          <span *ngIf="!otpForm.controls['new_password'].errors?.['passwordStrength']?.hasSpecialChar">
                              one special character (!&#64;#$%^&*)
                          </span>
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="showPassword1 ? 'text' : 'password'" matInput formControlName="confirm_password">
                    <mat-icon matSuffix (click)="togglePasswordVisibility1()">
                        {{showPassword1?'visibility':'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="otpForm.controls['confirm_password'].hasError('required') ">
                        Password is required
                    </mat-error>
                    <mat-error
                        *ngIf=" !otpForm.controls['confirm_password'].hasError('required') && otpForm.controls['confirm_password'].hasError('minlength') ">
                        Password must be minimum 8 characters long
                    </mat-error>
                    <mat-error (*ngIf)="passwordMatchError()">
                      Password didn't match
                  </mat-error>
                </mat-form-field>

                      <div class="d-flex justify-content-between">
                          <button [disabled]="disableButton"  type="submit" mat-raised-button>Submit</button>
                          <button (click)="ResendOTP()" type="button" mat-button>Resend OTP</button>
                      </div>
                  </form>
              </div>

          </div>
      </div>
  </div>
</div>
