<app-template>
    <app-breadcrumb>
        <li class="breadcrumb-item ">After Sales</li>
        <li class="breadcrumb-item active">Installment</li>
        <li class="breadcrumb-item active">Installment Generation</li>
    </app-breadcrumb>

    <mat-accordion class="mb-3">
        <mat-expansion-panel hideToggle [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title> Advanced Filters </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="addUnitBankerForm">
                <div class="row">
                    <!-- Project Dropdown -->
                    <div class="col-md-3">
                        <app-autocomplete-reusable-component [options]="projectsList()" formControlName="project_id"
                            displayKey="property_name" idKey="project_id" placeholder="Select Project" class="w-100">
                        </app-autocomplete-reusable-component>
                    </div>

                    <!-- Wing Dropdown -->
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Wing</mat-label>
                            <mat-select formControlName="wing_id">
                                <mat-option *ngFor="let allwings of allWingsList()" [value]="allwings.wing_id">
                                    {{ allwings.wing_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Apply Filter Button -->
                    <div class="col-md-auto">
                        <button mat-raised-button color="primary" class="d-flex align-items-center"
                            [disabled]="!addUnitBankerForm.valid" (click)="fetchAllProjectDemands()">
                            <mat-icon class="me-1">filter_list</mat-icon> Apply Filter
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <app-configurable-ag-grid-data [columns]="columnDefinitions" [apiEndpoint]="'fetch_demand'" [apiMethod]="'POST'"
        [apiPayload]="agGridPayload()" [headerButtons]="headerButtons" [actions]="enquiryActions"
        [idProperty]="'demand_id'" [showCheckbox]="true" (actionClick)="onDemandAction($event.action, $event.row)"
        (rowSelected)="selectedDemand.set($event)"
        (checkboxChange)="onDemandSelectionChange($event.checked, $event.row)">
    </app-configurable-ag-grid-data>

</app-template>