





<h2 mat-dialog-title>Edit Leave </h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
    <div class="row p-3">


      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>User Name</mat-label>
        <mat-select formControlName="user_id">
            <mat-option *ngFor="let user of AccountUsers" [value]="user.user_id">
                {{user.first_name}} {{user.last_name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addCustomerForm.controls['user_id'].hasError('required') ">
            Field is required
        </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline"  class="col-md-3">
      <mat-label>Leave Type</mat-label>
      <mat-select formControlName="leave_type_id">
          <mat-option *ngFor="let leave of leaveType" [value]="leave.leave_type_id">
              {{leave.leave_type}}</mat-option>
      </mat-select>
      <mat-error *ngIf="addCustomerForm.controls['leave_type_id'].hasError('required') ">
          Field is required
      </mat-error>
  </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Date</mat-label>
        <input matInput formControlName="leave_date" [matDatepicker]="date_picker" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>
        <mat-datepicker #date_picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Return Date</mat-label>
        <input matInput formControlName="return_to_office" [matDatepicker]="return_date_picker" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="return_date_picker"></mat-datepicker-toggle>
        <mat-datepicker #return_date_picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Reason</mat-label>
        <input matInput formControlName="reason">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>CRDR</mat-label>
        <mat-select formControlName="crdr">
          <mat-option *ngFor="let leave of CRDR" [value]="leave.crdr">
              {{leave.name}}</mat-option>
      </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline"  class="col-md-3">
        <mat-label>Leave Status</mat-label>
        <mat-select formControlName="leave_status_id">
            <mat-option *ngFor="let leave of LeaveStatus" [value]="leave.leave_status_id">
                {{leave.leave_status}} </mat-option>
        </mat-select>
        <mat-error *ngIf="addCustomerForm.controls['leave_status_id'].hasError('required') ">
            Field is required
        </mat-error>
    </mat-form-field>



      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Comments</mat-label>
        <input matInput formControlName="comments">
      </mat-form-field>



    </div>




  </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button type="submit" [disabled]="(!addCustomerForm.valid || loadingState)"   (click)="onSubmit()">Save</button>
</div>

