<h2 mat-dialog-title class="m-0">Pay Token Manually
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>


<div mat-dialog-content>
    <mat-card class="m-0 shadow-none">
        <mat-card-content>
            <form [formGroup]="upgradeTokens" class="row">

                <app-autocomplete-reusable-component [options]="projectsList" class="col-md-4"
                    formControlName="project_id" displayKey="property_name" idKey="project_id"
                    placeholder="Select Project">
                </app-autocomplete-reusable-component>

                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>Select Token Type</mat-label>
                    <mat-select formControlName="token_type_id">
                        <mat-option *ngFor="let tokenType of allTokenType" [value]="tokenType.token_type_id">
                            {{ tokenType.token_type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-container *ngIf="isHighestTokenSelected()">
                    <mat-form-field appearance="outline" class="col-md-4">
                        <mat-label>Select Wing</mat-label>
                        <mat-select formControlName="wing_id">
                            <mat-option *ngFor="let wing of allWingslist" [value]="wing.wing_id">
                                {{ wing.wing_name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="upgradeTokens.get('wing_id')?.hasError('required')">
                            Wing is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-4 full-bg-readonly">
                        <mat-label>Unit Type</mat-label>
                        <input matInput readonly formControlName="unit_type" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-4 full-bg-readonly">
                        <mat-label>Floor Id</mat-label>
                        <input matInput readonly formControlName="floor_id" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-4 full-bg-readonly">
                        <mat-label>Unit No</mat-label>
                        <input matInput readonly formControlName="floor_unit" />
                    </mat-form-field>
                </ng-container>

                <mat-form-field appearance="outline" class="col-md-4 full-bg-readonly">
                    <mat-label>First Name</mat-label>
                    <input matInput readonly formControlName="first_name" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4 full-bg-readonly">
                    <mat-label>Last Name</mat-label>
                    <input matInput readonly formControlName="last_name" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4 full-bg-readonly">
                    <mat-label>Email</mat-label>
                    <input matInput readonly formControlName="email_id" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4 full-bg-readonly">
                    <mat-label>Mobile Number</mat-label>
                    <input type="tel" matInput readonly formControlName="mob_no" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>Select Payment Type</mat-label>
                    <mat-select formControlName="payment_mode_id">
                        <mat-option *ngFor="let paymentMode of allPaymentMode" [value]="paymentMode.payment_mode_id">
                            {{ paymentMode.payment_mode }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="Amount" formControlName="amount" appAmount />
                    <mat-error *ngIf="upgradeTokens.get('amount')?.hasError('amountExceedsBalance')">
                        Amount cannot be greater than balance
                    </mat-error>
                    <mat-error *ngIf="upgradeTokens.get('amount')?.hasError('required')">
                        Amount is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '1'">
                    <mat-label>Cheque No</mat-label>
                    <input matInput placeholder="Cheque No" formControlName="cheque_no" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4"
                    *ngIf="['2', '3', '4'].includes(upgradeTokens.controls['payment_mode_id'].value ?? '')">
                    <mat-label>Transaction ID</mat-label>
                    <input matInput placeholder="Transaction ID" formControlName="transaction_id" />
                    <mat-error *ngIf="upgradeTokens.get('transaction_id')?.hasError('required')">
                        Transaction ID is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '2'">
                    <mat-label>UPI ID</mat-label>
                    <input matInput placeholder="UPI ID" formControlName="upi_id" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '4'">
                    <mat-label>Card No</mat-label>
                    <input matInput placeholder="Card No" formControlName="card_no" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4"
                    *ngIf="['1', '2', '3', '4'].includes(upgradeTokens.controls['payment_mode_id'].value ?? '')">
                    <mat-label>Bank Name</mat-label>
                    <input matInput placeholder="Bank Name" formControlName="bank_name" />
                    <mat-error *ngIf="upgradeTokens.get('bank_name')?.hasError('required')">
                        Bank Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '1'">
                    <mat-label>IFSC Code</mat-label>
                    <input matInput placeholder="IFSC Code" formControlName="ifsc_code" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-4"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '1'">
                    <mat-label>Bank Branch</mat-label>
                    <input matInput placeholder="Bank Branch" formControlName="bank_branch" />
                </mat-form-field>

                <div class="col-md-4 mb-3">
                    <label class="form-label d-block">Payment Attachment</label>
                    <input type="file" class="form-control" (change)="onFileChange($event)" />
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div mat-dialog-actions class="justify-content-end p-3 border-top">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="loading || upgradeTokens.invalid">
        {{ loading ? 'Processing...' : 'Submit Payment' }}
    </button>
</div>