<app-template>
    <app-breadcrumb>
        <li class="breadcrumb-item active">Booking Offers</li>

        <li class="breadcrumb-item active">All Booking Offers</li>
    </app-breadcrumb>

    <mat-card>
        <app-autocomplete-reusable-component (selectedIdChange)="onProjectChange($event)" [options]="projectsList"
            class="col-md-3" idKey="project_id" displayKey="property_name" placeholder="Select Project">
        </app-autocomplete-reusable-component>

        <mat-card-content>

            <app-reusable-custom-table [headerButtons]="headerButtons"
                (actionClick)="onBookingAction($event.action, $event.row)" [actions]="bookingActions"
                [loading]="loading" [dataSource]="dataSource" [displayedColumns]="bookingBills" [showFooter]="true">

            </app-reusable-custom-table>
        </mat-card-content>
    </mat-card>
</app-template>