// Fade-in animation for booking details
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

.title-with-line {
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 18px;
    background: #ffffff;
    border-radius: 10px;
  }

  h5 {
    margin: 0 !important;
  }
}