<h2 mat-dialog-title>{{isEditMode ? 'Edit Meeting' : 'Add Meeting'}}
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="meetingForm" class="row mt-1">
        <app-autocomplete-reusable-component class="col-md-4" formControlName="project_id" [options]="projectsList"
            displayKey="property_name" idKey="project_id" placeholder="Select Project *">
        </app-autocomplete-reusable-component>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Meeting Title </mat-label>
            <input matInput formControlName="title" placeholder="Enter meeting title">
            <mat-error *ngIf="meetingForm.get('title')?.hasError('required')">
                Meeting title is required
            </mat-error>
            <mat-error *ngIf="meetingForm.get('title')?.hasError('minlength')">
                Meeting title must be at least 3 characters long
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Meeting Date</mat-label>
            <input matInput [matDatepicker]="datePicker" formControlName="date" placeholder="Choose meeting date">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-error *ngIf="meetingForm.get('date')?.hasError('required')">
                Meeting date is required
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Venue</mat-label>
            <input matInput formControlName="venue" placeholder="Enter meeting venue">
            <mat-error *ngIf="meetingForm.get('venue')?.hasError('minlength')">
                Venue must be at least 2 characters long
            </mat-error>
        </mat-form-field>



        <app-autocomplete-reusable-component class="col-md-4" formControlName="role_id" [options]="allRoleList"
            displayKey="role" idKey="role_id" [isMultiSelect]="true" placeholder="Select role *">
        </app-autocomplete-reusable-component>
        <app-autocomplete-reusable-component class="col-md-4" formControlName="attendees" [options]="allUserList"
            displayKey="full_name" idKey="user_id" [isMultiSelect]="true" placeholder="Attendees *">
        </app-autocomplete-reusable-component>


        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Meeting Type</mat-label>
            <mat-select formControlName="meeting_type">
                <mat-option [value]="1">In-Person</mat-option>
                <mat-option [value]="2">Virtual</mat-option>
                <mat-option [value]="3">Hybrid</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Meeting Link</mat-label>
            <input matInput formControlName="meeting_link" placeholder="Enter meeting link (for virtual meetings)">
            <mat-error *ngIf="meetingForm.get('meeting_link')?.hasError('required')">
                Meeting link is required for virtual meetings
            </mat-error>
            <mat-error *ngIf="meetingForm.get('meeting_link')?.hasError('pattern')">
                Please enter a valid URL starting with http:// or https://
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Agenda</mat-label>
            <textarea matInput formControlName="agenda" placeholder="Enter meeting agenda" rows="3"></textarea>
            <mat-error *ngIf="meetingForm.get('agenda')?.hasError('minlength')">
                Agenda must be at least 10 characters long
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Email Subject</mat-label>
            <input matInput formControlName="email_subject" placeholder="Enter email subject">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Email Content</mat-label>
            <textarea matInput formControlName="email_content" placeholder="Enter email content" rows="4"></textarea>
        </mat-form-field>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="onSubmit()" mat-raised-button color="primary" type="submit"
        [disabled]="meetingForm.invalid || isLoading">
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        {{isEditMode ? 'Update Meeting' : 'Create Meeting'}}
    </button>
</mat-dialog-actions>