<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item active">All Token Bookings</li>
  </app-breadcrumb>

  <mat-card>
    <mat-card-header>
      <div class="row w-100 ">
        <!-- Project Selection -->
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Project</mat-label>
            <mat-select (selectionChange)="onProjectChange($event.value)">
              <mat-option *ngFor="let project of projectsList" [value]="project.project_id">
                {{ project.property_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Search Field (Shown Only When Project is Selected) -->
        <div *ngIf="selectedProjectId && dataSource.data.length > 0" class="col-md-4">
        </div>
      </div>

      <!-- New Row for Project Name -->

    </mat-card-header>

    <mat-card-content>
      <div *ngIf="selectedProjectId && dataSource.data.length > 0" class="row mt-2">
        <div class="col-12">
          <span class="project-name fw-bold fs-4 text-uppercase">
            {{ projectName }}
          </span>
        </div>
      </div>
      <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
      <div *ngIf="!loading && (!selectedProjectId || (selectedProjectId && dataSource.data.length === 0))"
        class="d-flex flex-column align-items-center justify-content-center p-5 rounded shadow-lg"
        style="background: linear-gradient(to right, #f0f2f5, #eaefef);  text-align: center;">

        <mat-icon [color]="!selectedProjectId ? 'primary' : 'warn'" class="mb-3">
          {{ !selectedProjectId ? 'contact_support' : 'error' }}
        </mat-icon>

        <h4 class="font-weight-bold">
          {{ !selectedProjectId ? 'Select a Project' : 'No Bookings Available' }}
        </h4>

        <p class="mt-2">
          {{ !selectedProjectId ? 'Please choose a project to view available bookings.'
          : 'There are no token bookings for this project yet.' }}
        </p>
      </div>


      <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
      <div *ngIf="selectedProjectId && dataSource.data.length > 0"
        class="table-responsive example-container mat-elevation-z8 rounded">
        <table mat-table [dataSource]="dataSource" matSort aria-label="Enquiry Table" class="mat-elevation-z8">

          <!-- Dynamic Columns -->
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ column.label }}
            </th>

            <td mat-cell *matCellDef="let element">
              <ng-container [ngSwitch]="column.key">
                <ng-container *ngSwitchCase="'token_amount'">
                  {{ element.token_amount | currency: 'INR':'symbol' }}
                </ng-container>
                <ng-container *ngSwitchCase="'token_given_on'">
                  {{ element.token_given_on | date: 'dd/MM/yyyy' }}
                </ng-container>
                <ng-container *ngSwitchCase="'booked_on'">
                  {{ element.booked_on | date: 'dd/MM/yyyy' }}
                </ng-container>

                <ng-container *ngSwitchDefault>
                  {{ element[column.key] || '-' }}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
          <tr mat-row *matRowDef="let row; columns: columnKeys"
            [ngClass]="{'booked-row': row.booked === 'Yes', 'not-booked-row': row.booked !== 'Yes'}">
          </tr>

        </table>

        <mat-paginator [class.sticky-column-left]="true" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons
          aria-label="Select page of Enquiries" color="accent">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</app-template>