<mat-card class="m-1">
  <mat-card-header>
    <mat-card-title>
      <h4>Payment Details</h4>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="addBookingPaymentForm">
      <div class="row">
        <mat-form-field appearance="outline" class="ol-md-6">
          <mat-label>Booking Amount</mat-label>
          <input matInput appAmount formControlName="booking_amount" placeholder="Enter booking amount" />
          @if (addBookingPaymentForm.get('booking_amount')?.hasError('required') &&
          addBookingPaymentForm.get('booking_amount')?.touched) {
          <mat-error>Booking amount is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="ol-md-6">
          <mat-label>Payment Mode</mat-label>
          <mat-select formControlName="payment_mode_id">
            @for (mode of paymentModes(); track mode.payment_mode_id) {
            <mat-option [value]="mode.payment_mode_id">
              {{ mode.payment_mode }}
            </mat-option>
            }
          </mat-select>
          @if (addBookingPaymentForm.get('payment_mode_id')?.hasError('required') &&
          addBookingPaymentForm.get('payment_mode_id')?.touched) {
          <mat-error>Payment mode is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="ol-md-6">
          <mat-label>Cheque/TRN No.</mat-label>
          <input matInput formControlName="cheque_no" placeholder="Enter cheque number" />
          @if (addBookingPaymentForm.get('cheque_no')?.hasError('required') &&
          addBookingPaymentForm.get('cheque_no')?.touched) {
          <mat-error>Cheque/TRN number is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="ol-md-6">
          <mat-label>Cheque/TRN Date</mat-label>
          <input matInput (click)="checkDate.open()" [matDatepicker]="checkDate" [min]="minDate()" [max]="maxDate()"
            formControlName="cheque_date" />
          <mat-datepicker-toggle matSuffix [for]="checkDate"></mat-datepicker-toggle>
          <mat-datepicker #checkDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row">
        <app-autocomplete-reusable-component class="col-md-6" [options]="banks()" formControlName="bank_name_id"
          displayKey="preferred_bank" idKey="preferred_bank_id" placeholder="Bank">
        </app-autocomplete-reusable-component>

        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Branch Name</mat-label>
          <input matInput formControlName="bank_details" placeholder="Enter Branch Name" />
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end" class="px-3 pb-3">
    <button mat-raised-button color="primary" (click)="addPayment()"
      [disabled]="addBookingPaymentForm.invalid || isAddPaymentDisabled()">
      <mat-icon>{{ buttonIcon() }}</mat-icon>
      {{ buttonText() }}
    </button>
  </mat-card-actions>
</mat-card>