<div class="actions-container">
  <mat-checkbox *ngIf="showCheckbox" class="checkbox-style" 
                [checked]="isSelected()"
                (click)="$event.stopPropagation()" 
                (change)="onCheckboxChange($event)"
                [attr.aria-label]="'Select ' + (rowData?.name || 'row')">
  </mat-checkbox>

  <div class="actions-buttons" role="group" [attr.aria-label]="'Actions for ' + (rowData?.name || 'this row')">
    <button mat-icon-button 
            [matMenuTriggerFor]="actionMenu"
            class="action-menu-button"
            [attr.aria-label]="'Open actions menu'">
      <mat-icon>more_vert</mat-icon>
    </button>
    
    <mat-menu #actionMenu="matMenu" class="action-menu">
      <ng-container *ngFor="let act of getVisibleActions(); trackBy: trackByAction">
        <button mat-menu-item 
                [disabled]="isActionDisabled(act)"
                [attr.aria-label]="act.tooltip"
                [class]="'menu-item-' + (act.color || 'primary')"
                (click)="triggerAction(act.action, $event)">
          <mat-icon>{{ act.icon }}</mat-icon>
          <span>{{ act.tooltip }}</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</div>