<h2 mat-dialog-title>Refund EOI Payment
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="upgradeTokens" class="row">


                <app-autocomplete-reusable-component [options]="projectsList" class="col-md-2"
                    formControlName="project_id" displayKey="property_name" idKey="project_id"
                    placeholder="Select Project">
                </app-autocomplete-reusable-component>
                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>Select EOI Type</mat-label>
                    <mat-select formControlName="token_type_id" [disabled]="!upgradeTokens.get('project_id')?.value">
                        <mat-option *ngFor="let tokenType of allTokenType" [value]="tokenType.token_type_id">
                            {{ tokenType.token_type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <ng-container *ngIf="isHighestTokenSelected()">
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Select Wing</mat-label>
                        <mat-select formControlName="wing_id" [disabled]="!upgradeTokens.get('project_id')?.value">
                            <mat-option *ngFor="let wing of allWingslist" [value]="wing.wing_id">
                                {{ wing.wing_name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="upgradeTokens.get('wing_id')?.hasError('required')">
                            Wing is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Select Floor</mat-label>
                        <mat-select formControlName="floor_id">
                            <mat-option *ngFor="let floor of FloorUnitDropdown" [value]="floor.floor_id">
                                {{ floor.floor_name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Unit Type</mat-label>
                        <mat-select formControlName="unit_type" [disabled]="!confiList.length">
                            <mat-option *ngFor="let item of confiList" [value]="item.unit_type">
                                {{ item.unit_type }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Unit No</mat-label>
                        <mat-select formControlName="floor_unit_id">
                            <mat-option *ngFor="let unit of UnitNo" [value]="unit.floor_unit_id">
                                {{ unit.floor_unit }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </ng-container>

                <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly ">
                    <mat-label>First Name</mat-label>
                    <input matInput readonly formControlName="first_name" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                    <mat-label>Email ID</mat-label>
                    <input matInput formControlName="email_id" placeholder="Email" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                    <mat-label>Mobile Number</mat-label>
                    <input type="tel" matInput formControlName="mob_no" maxlength="10" pattern="[0-9]{10}"
                        inputmode="numeric" autocomplete="tel"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)" />
                    <mat-error
                        *ngIf="upgradeTokens.get('mob_no')?.hasError('pattern') && upgradeTokens.get('mob_no')?.touched">
                        Enter a valid 10-digit number.
                    </mat-error>
                </mat-form-field>
                <!-- Transaction ID -->


                <!-- Payment Mode Dropdown -->

                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>Select Payment Type</mat-label>
                    <mat-select formControlName="payment_mode_id">
                        <mat-option *ngFor="let paymentMode of allPaymentMode" [value]="paymentMode.payment_mode_id">
                            {{ paymentMode.payment_mode }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- Amount -->

                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="Amount" formControlName="amount" appAmount />
                </mat-form-field>


                <!-- Cheque No -->

                <mat-form-field appearance="outline" class="col-md-2"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '1'">
                    <mat-label>Cheque No</mat-label>
                    <input matInput placeholder="Cheque No" formControlName="cheque_no" />
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-md-2"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '2'">
                    <mat-label>Transaction ID</mat-label>
                    <input matInput placeholder="Transaction ID" formControlName="transaction_id" />
                </mat-form-field>


                <!-- UPI ID -->

                <mat-form-field appearance="outline" class="col-md-2"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '2'">
                    <mat-label>UPI ID</mat-label>
                    <input matInput placeholder="UPI ID" formControlName="upi_id" />
                </mat-form-field>


                <!-- Card No -->

                <mat-form-field appearance="outline" class="col-md-2"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '4'">
                    <mat-label>Card No</mat-label>
                    <input matInput placeholder="Card No" formControlName="card_no" />
                </mat-form-field>



                <!-- Bank Name -->

                <mat-form-field appearance="outline" class="col-md-2"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '1'">
                    <mat-label>Bank Name</mat-label>
                    <input matInput placeholder="Bank Name" formControlName="bank_name" />
                </mat-form-field>


                <!-- IFSC Code -->

                <mat-form-field appearance="outline" class="col-md-2"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '1'">
                    <mat-label>IFSC Code</mat-label>
                    <input matInput placeholder="IFSC Code" formControlName="ifsc_code" />
                </mat-form-field>


                <!-- Bank Branch -->

                <mat-form-field appearance="outline" class="col-md-2"
                    *ngIf="upgradeTokens.controls['payment_mode_id'].value == '1'">
                    <mat-label>Bank Branch</mat-label>
                    <input matInput placeholder="Bank Branch" formControlName="bank_branch" />
                </mat-form-field>


                <div class="col-md-3 mb-3">
                    <label class="form-label d-block">Payment Attachment</label>
                    <input type="file" class="form-control" (change)="onFileChange($event)" />

                </div>
            </form>
        </mat-card-content>


    </mat-card>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="col-md-12 d-flex justify-content-end mt-3">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
            Refund Token Payment
        </button>

    </div>
</mat-dialog-actions>