<!-- credential-password.component.html -->

<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item"><a routerLink="/credential">Credentials</a></li>
    <li class="breadcrumb-item active">Edit Credentials</li>
  </app-breadcrumb>

  <form [formGroup]="credentialForm" (ngSubmit)="onSubmit()">
    <div class="row gx-4 my-5">
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Institute Name</mat-label>
        <input matInput formControlName="institute_name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Login ID</mat-label>
        <input matInput formControlName="login_id">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>SM Name</mat-label>
        <input matInput formControlName="sm_name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-9">
        <mat-label>Link</mat-label>
        <input matInput formControlName="link">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>DSA Code</mat-label>
        <input matInput formControlName="dsa_code">
      </mat-form-field>
    </div>
    <div class="row mt-3">
      <div class="col-auto ms-auto">
        <button color="primary" type="submit" mat-raised-button>Update</button>
      </div>
    </div>
  </form>
</app-template>