<h6 mat-dialog-title>
    Add Facebook Form ID
    <button mat-icon-button mat-dialog-close style="position: absolute; top: 10px; right: 12px;">
        <mat-icon>close</mat-icon>
    </button>
</h6>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="addBookingOfferForm" class="container row mt-1">

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Valid From</mat-label>
                <mat-date-range-input [rangePicker]="followUpDatePicker">
                    <input formControlName="valid_from" matStartDate placeholder="Start date">
                    <input formControlName="valid_to" matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="followUpDatePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #followUpDatePicker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Active Status</mat-label>
                <mat-select formControlName="active_status_id">
                    <mat-option value="1">Active</mat-option>
                    <mat-option value="0">Inactive</mat-option>

                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-md-12">
            <label class="form-label d-block">Upload Offer</label>
            <input type="file" class="form-control" (change)="onFileChange($event)" />
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align='end'>

    <button (click)="onSubmit()" mat-raised-button color="primary" type="submit"
        [disabled]="addBookingOfferForm.valid">Save</button>
</mat-dialog-actions>