<app-template>
    <app-breadcrumb>
        <li class="breadcrumb-item"><a routerLink="/setup/sales-tokens">All EOI</a></li>


    </app-breadcrumb>

    <mat-card>
        <mat-card-content>
            <form [formGroup]="upgradeTokens" class="row">


                <app-autocomplete-reusable-component [options]="projectsList" class="col-md-2"
                    formControlName="project_id" displayKey="property_name" idKey="project_id"
                    placeholder="Select Project">
                </app-autocomplete-reusable-component>
                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>Select Token Type</mat-label>
                    <mat-select formControlName="token_type_id" [disabled]="!upgradeTokens.get('project_id')?.value">
                        <mat-option *ngFor="let tokenType of allTokenType" [value]="tokenType.token_type_id">
                            {{ tokenType.token_type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <ng-container *ngIf="isHighestTokenSelected()">
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Select Wing</mat-label>
                        <mat-select formControlName="wing_id" [disabled]="!upgradeTokens.get('project_id')?.value">
                            <mat-option *ngFor="let wing of allWingslist" [value]="wing.wing_id">
                                {{ wing.wing_name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="upgradeTokens.get('wing_id')?.hasError('required')">
                            Wing is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Select Floor</mat-label>
                        <mat-select formControlName="floor_id">
                            <mat-option *ngFor="let floor of FloorUnitDropdown" [value]="floor.floor_id">
                                {{ floor.floor_name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Unit Type</mat-label>
                        <mat-select formControlName="unit_type" [disabled]="!confiList.length">
                            <mat-option *ngFor="let item of confiList" [value]="item.unit_type">
                                {{ item.unit_type }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Unit No</mat-label>
                        <mat-select formControlName="floor_unit_id">
                            <mat-option *ngFor="let unit of UnitNo" [value]="unit.floor_unit_id">
                                {{ unit.floor_unit }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </ng-container>







                <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly ">
                    <mat-label>First Name</mat-label>
                    <input matInput readonly formControlName="first_name" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                    <mat-label>Email </mat-label>
                    <input matInput formControlName="email_id" placeholder="Email" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                    <mat-label>Mobile Number</mat-label>
                    <input type="tel" matInput formControlName="mob_no" maxlength="10" pattern="[0-9]{10}"
                        inputmode="numeric" autocomplete="tel"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)" />
                    <mat-error
                        *ngIf="upgradeTokens.get('mob_no')?.hasError('pattern') && upgradeTokens.get('mob_no')?.touched">
                        Enter a valid 10-digit number.
                    </mat-error>
                </mat-form-field>

                <ng-container *ngIf="showUpgradeDetails">
                    <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                        <mat-label>Token Amount</mat-label>
                        <input matInput readonly formControlName="token_amount" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                        <mat-label>Amount Paid</mat-label>
                        <input matInput readonly formControlName="amount_paid" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-2 full-bg-readonly">
                        <mat-label>Pay Additional Amount</mat-label>
                        <input matInput readonly formControlName="balance" />
                    </mat-form-field>
                </ng-container>

                <div class="col-md-12 d-flex justify-content-end mt-3">
                    <button mat-raised-button *ngIf="!isTokenUpgraded && !isPaymentDone" color="primary" type="submit"
                        (click)="onSubmit()">
                        Transfer Token
                    </button>

                </div>



            </form>




        </mat-card-content>


    </mat-card>


</app-template>