.no-border {
  border: none;
}

.warning-border {
  border: 5px ridge #ff000075;
}


.profile-image {
  padding: 3px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.profile-image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.no-border {
  border: none;
}

.warning-border {
  border: 5px ridge #ff000075;
}


.profile-title {
  letter-spacing: .2px;
  font-size: 26px;
  font-weight: 500;
}

.p-style {
  font-size: 20px;
  font-weight: 500;
}

.dotted-border {
  border: 1px dotted #999999;
}

.upload-label {
  display: inline-block;
  padding: 5px 15px;
  color: #1C7CBE;
  border: 1px solid #1C7CBE;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
}

#resume-upload {
  display: none;
}





// Small devices (up to 576px)
@media (max-width: 576px) {
  .profile-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }


  .profile-image {
      padding: 3px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease;
  }

  .profile-title {
      // letter-spacing: .2px;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: .5rem;
  }


  .name-div {
      text-align: center;
  }

  .table {
      width: 100% !important;
  }

}

// Medium devices (between 576px and 768px)
@media (min-width: 576px) and (max-width: 768px) {}

// Large devices (above 768px)
@media (min-width: 768px) {}


.heading-ptag {
  font-size: 20px;
  font-weight: 500;
}

.second-heading-ptag {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .2px;
}

.paragraph-text {
  font-size: 14px;
  color: #666666;
}

.small-icon {
  font-size: 140%; // Adjust the font size as needed
}

.icon-button {
  font-size: 18px;
  transition: transform 0.1s ease;

  &:hover {
      cursor: pointer;
      transform: scale(1.1);

  }

}
