.dialog-title {
  display: flex;
  align-items: center;
}

.title-icon {
  margin-right: 8px;
  color: #e9ecee; // primary light
}

.close-button {
  position: absolute;
  top: 10px;
  right: 12px;
}

.sensitive-data-container {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 4px;
  color: #424242;
  word-break: break-all;
}


.error-message {
  color: #d32f2f;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  background-color: #fde8e8;
  border-radius: 4px;
}