.password-dialog-container {
  padding: 16px;
  width: 100%;
  max-width: 500px;
}
::ng-deep .full-bg-readonly .mat-mdc-text-field-wrapper {
  width: 100%;
  z-index: 0;
  background-color: #e9ecef !important;
  cursor: not-allowed;
}

.form-field {
  width: 100%;
  margin-bottom: 16px;
}

