<h2 mat-dialog-title>
    Confirm Call
</h2>

<!-- Content -->
<mat-dialog-content >
    <div class="flex flex-col gap-2">
        <p class="text-base text-gray-700 leading-relaxed">
            Are you sure you want to call this lead?
        </p>
    </div>
</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions align="end" >
    <button mat-raised-button color="warn" (click)="onCancel()">
        No
    </button>

    <button mat-raised-button color="primary" (click)="onConfirm()">
        Call Lead
        <mat-icon class="ml-1">call</mat-icon>
    </button>
</mat-dialog-actions>