<app-template>
  <app-breadcrumb>
    <li class="breadcrumb-item ">Site Visit Management</li>
    <li class="breadcrumb-item ">All Floor Units</li>
  </app-breadcrumb>
  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Advanced Filters </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="filterForm" class="row">
        <app-autocomplete-reusable-component formControlName="project_id" [options]="projectsList" class="col-md-3"
          idKey="project_id" displayKey="property_name" placeholder="Select Project">
        </app-autocomplete-reusable-component>

        <app-autocomplete-reusable-component formControlName="wing_id" [options]="allWingslist" class="col-md-3"
          idKey="wing_id" displayKey="wing_name"
          [disabled]="!filterForm.get('project_id')?.value || !allWingslist.length" placeholder="Select Wing">
        </app-autocomplete-reusable-component>

        <app-autocomplete-reusable-component formControlName="booking_status_id" [options]="bookingStatusList"
          class="col-md-3" idKey="booking_status_id" displayKey="booking_status" placeholder="Select Booking Status">
        </app-autocomplete-reusable-component>

        <div class="col-md-3 d-flex gap-2">
          <button mat-raised-button color="primary" type="button" class="flex-fill d-flex align-items-center"
            [disabled]="!filterForm.valid" (click)="fetchAllFloorUnits(true)">
            <mat-icon class="me-1">filter_list</mat-icon>
            Apply Filter
          </button>

        </div>
      </form>

    </mat-expansion-panel>
  </mat-accordion>

  <app-configurable-ag-grid-data [columns]="columnDefinitions" [apiEndpoint]="'fetch_all_floor_unit'"
    [apiPayload]="getAgGridApiPayload()" [headerButtons]="headerButtons" [actions]="actions"
    [showCheckbox]="true" [apiMethod]="'POST'" [idProperty]="'floor_unit_id'"
    (actionClick)="onBookingAction($event.action, $event.row)" [cacheBlockSize]="100"
    [selectedItems]="selectedFloorUnits" (rowSelected)="selectedFloorUnits = $event"
    (checkboxChange)="onFloorUnitSelectionChange($event.checked, $event.row)">
  </app-configurable-ag-grid-data>
</app-template>