.heading{
    text-align: center;
    margin-left: -5px !important;
}
/* Ensure a fixed-size container for the summary chart */
.summary-chart-container {
    max-width: 212px;
    max-height: 301px; /* Set a consistent height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Fix the canvas size */
  #dochartSummary {
    width: 100% !important;
    height: 100% !important;
    max-width: 212px;
    max-height: 301px;
    display: inline !important;
  }
  .summary-chart-container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Keep it clean */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  

  